In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import requests
#GET data from API=
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=IBM&apikey=N3AKAEZVXPVFCEWC'
r = requests.get(url)
api_data = r.json()

api_data=api_data['Weekly Time Series']
api_data

{'2023-05-10': {'1. open': '123.7600',
  '2. high': '123.9200',
  '3. low': '120.6600',
  '4. close': '122.0200',
  '5. volume': '12384988'},
 '2023-05-05': {'1. open': '126.3500',
  '2. high': '126.7500',
  '3. low': '121.7563',
  '4. close': '123.6500',
  '5. volume': '21164660'},
 '2023-04-28': {'1. open': '125.5500',
  '2. high': '127.2500',
  '3. low': '124.5600',
  '4. close': '126.4100',
  '5. volume': '20644224'},
 '2023-04-21': {'1. open': '128.3000',
  '2. high': '130.9800',
  '3. low': '125.2700',
  '4. close': '125.7300',
  '5. volume': '30341128'},
 '2023-04-14': {'1. open': '129.8300',
  '2. high': '131.1050',
  '3. low': '126.0000',
  '4. close': '128.1400',
  '5. volume': '19506500'},
 '2023-04-06': {'1. open': '130.9700',
  '2. high': '132.6100',
  '3. low': '130.3150',
  '4. close': '130.5000',
  '5. volume': '13172262'},
 '2023-03-31': {'1. open': '126.4700',
  '2. high': '131.4800',
  '3. low': '126.4700',
  '4. close': '131.0900',
  '5. volume': '20779522'},
 '2023-03-24': {'1. open': '124.3100',
  '2. high': '127.2150',
  '3. low': '122.6000',
  '4. close': '125.2900',
  '5. volume': '20458253'},
 '2023-03-17': {'1. open': '125.1500',
  '2. high': '128.1900',
  '3. low': '121.7100',
  '4. close': '123.6900',
  '5. volume': '66132690'},
 '2023-03-10': {'1. open': '129.6400',
  '2. high': '130.8600',
  '3. low': '125.1300',
  '4. close': '125.4500',
  '5. volume': '20761401'},
 '2023-03-03': {'1. open': '131.4200',
  '2. high': '131.8700',
  '3. low': '127.7100',
  '4. close': '129.6400',
  '5. volume': '17865677'},
 '2023-02-24': {'1. open': '134.0000',
  '2. high': '134.3850',
  '3. low': '128.8600',
  '4. close': '130.5700',
  '5. volume': '14198950'},
 '2023-02-17': {'1. open': '136.0000',
  '2. high': '137.3900',
  '3. low': '133.8900',
  '4. close': '135.0200',
  '5. volume': '16543870'},
 '2023-02-10': {'1. open': '135.8300',
  '2. high': '136.7400',
  '3. low': '133.3400',
  '4. close': '135.6000',
  '5. volume': '22140989'},
 '2023-02-03': {'1. open': '134.3200',
  '2. high': '136.9500',
  '3. low': '132.8000',
  '4. close': '136.9400',
  '5. volume': '27874571'},
 '2023-01-27': {'1. open': '141.4000',
  '2. high': '142.9850',
  '3. low': '132.9800',
  '4. close': '134.3900',
  '5. volume': '43345140'},
 '2023-01-20': {'1. open': '146.4200',
  '2. high': '147.1800',
  '3. low': '139.7500',
  '4. close': '141.2000',
  '5. volume': '21419368'},
 '2023-01-13': {'1. open': '144.0800',
  '2. high': '146.6600',
  '3. low': '142.9000',
  '4. close': '145.8900',
  '5. volume': '14580596'},
 '2023-01-06': {'1. open': '141.1000',
  '2. high': '144.2500',
  '3. low': '140.0100',
  '4. close': '143.7000',
  '5. volume': '13648755'},
 '2022-12-30': {'1. open': '141.7300',
  '2. high': '142.8100',
  '3. low': '139.4500',
  '4. close': '140.8900',
  '5. volume': '10477419'},
 '2022-12-23': {'1. open': '140.1600',
  '2. high': '143.0900',
  '3. low': '137.1950',
  '4. close': '141.6500',
  '5. volume': '19663576'},
 '2022-12-16': {'1. open': '147.8200',
  '2. high': '153.2100',
  '3. low': '138.9700',
  '4. close': '140.1600',
  '5. volume': '33572382'},
 '2022-12-09': {'1. open': '147.9400',
  '2. high': '149.1530',
  '3. low': '146.2900',
  '4. close': '147.0500',
  '5. volume': '15316930'},
 '2022-12-02': {'1. open': '147.9800',
  '2. high': '150.0100',
  '3. low': '145.6700',
  '4. close': '148.6700',
  '5. volume': '20066941'},
 '2022-11-25': {'1. open': '147.5500',
  '2. high': '150.4600',
  '3. low': '146.4500',
  '4. close': '148.3700',
  '5. volume': '16271883'},
 '2022-11-18': {'1. open': '142.6300',
  '2. high': '148.3100',
  '3. low': '142.0000',
  '4. close': '147.6400',
  '5. volume': '22034930'},
 '2022-11-11': {'1. open': '136.6400',
  '2. high': '144.1300',
  '3. low': '136.5100',
  '4. close': '143.1700',
  '5. volume': '25066114'},
 '2022-11-04': {'1. open': '138.0600',
  '2. high': '140.1700',
  '3. low': '133.9700',
  '4. close': '136.9600',
  '5. volume': '22491556'},
 '2022-10-28': {'1. open': '130.9000',
  '2. high': '138.8615',
  '3. low': '129.8500',
  '4. close': '138.5100',
  '5. volume': '26667185'},
 '2022-10-21': {'1. open': '121.8000',
  '2. high': '130.8450',
  '3. low': '121.4300',
  '4. close': '129.9000',
  '5. volume': '37309868'},
 '2022-10-14': {'1. open': '119.7900',
  '2. high': '122.5400',
  '3. low': '115.5450',
  '4. close': '120.0400',
  '5. volume': '22973512'},
 '2022-10-07': {'1. open': '120.1600',
  '2. high': '126.4600',
  '3. low': '118.0700',
  '4. close': '118.8200',
  '5. volume': '21614952'},
 '2022-09-30': {'1. open': '122.3000',
  '2. high': '124.2600',
  '3. low': '118.6100',
  '4. close': '118.8100',
  '5. volume': '22265241'},
 '2022-09-23': {'1. open': '126.4900',
  '2. high': '128.0600',
  '3. low': '121.7400',
  '4. close': '122.7100',
  '5. volume': '19442664'},
 '2022-09-16': {'1. open': '130.3300',
  '2. high': '130.9900',
  '3. low': '123.8300',
  '4. close': '127.2700',
  '5. volume': '27107187'},
 '2022-09-09': {'1. open': '127.8000',
  '2. high': '129.4900',
  '3. low': '126.2800',
  '4. close': '129.1900',
  '5. volume': '12004834'},
 '2022-09-02': {'1. open': '129.9900',
  '2. high': '131.4200',
  '3. low': '127.2400',
  '4. close': '127.7900',
  '5. volume': '15086608'},
 '2022-08-26': {'1. open': '137.6500',
  '2. high': '137.8500',
  '3. low': '130.3400',
  '4. close': '130.3800',
  '5. volume': '16982107'},
 '2022-08-19': {'1. open': '132.9600',
  '2. high': '139.3400',
  '3. low': '132.2400',
  '4. close': '138.3700',
  '5. volume': '17105977'},
 '2022-08-12': {'1. open': '133.1000',
  '2. high': '134.0900',
  '3. low': '129.1200',
  '4. close': '134.0100',
  '5. volume': '17254110'},
 '2022-08-05': {'1. open': '130.7500',
  '2. high': '132.8620',
  '3. low': '130.5100',
  '4. close': '132.4800',
  '5. volume': '17400572'},
 '2022-07-29': {'1. open': '128.4400',
  '2. high': '131.0000',
  '3. low': '127.5800',
  '4. close': '130.7900',
  '5. volume': '22223785'},
 '2022-07-22': {'1. open': '140.1500',
  '2. high': '140.3100',
  '3. low': '125.1300',
  '4. close': '128.2500',
  '5. volume': '66246811'},
 '2022-07-15': {'1. open': '140.6200',
  '2. high': '141.8700',
  '3. low': '135.0200',
  '4. close': '139.9200',
  '5. volume': '21089228'},
 '2022-07-08': {'1. open': '139.9700',
  '2. high': '141.3250',
  '3. low': '135.2700',
  '4. close': '140.4700',
  '5. volume': '16229131'},
 '2022-07-01': {'1. open': '142.2600',
  '2. high': '144.1550',
  '3. low': '139.2600',
  '4. close': '141.1200',
  '5. volume': '21052787'},
 '2022-06-24': {'1. open': '135.9000',
  '2. high': '142.3700',
  '3. low': '135.9000',
  '4. close': '142.0600',
  '5. volume': '23921844'},
 '2022-06-17': {'1. open': '133.9700',
  '2. high': '138.4500',
  '3. low': '132.8500',
  '4. close': '135.0200',
  '5. volume': '34055621'},
 '2022-06-10': {'1. open': '142.9800',
  '2. high': '144.7300',
  '3. low': '135.2500',
  '4. close': '136.1900',
  '5. volume': '18914084'},
 '2022-06-03': {'1. open': '138.2000',
  '2. high': '142.5794',
  '3. low': '136.8100',
  '4. close': '141.1800',
  '5. volume': '19861566'},
 '2022-05-27': {'1. open': '129.5000',
  '2. high': '139.7394',
  '3. low': '129.4200',
  '4. close': '139.2700',
  '5. volume': '19618090'},
 '2022-05-20': {'1. open': '133.1000',
  '2. high': '138.3700',
  '3. low': '125.8000',
  '4. close': '128.4800',
  '5. volume': '27360441'},
 '2022-05-13': {'1. open': '134.4100',
  '2. high': '136.3450',
  '3. low': '128.4300',
  '4. close': '133.6000',
  '5. volume': '31171489'},
 '2022-05-06': {'1. open': '133.0000',
  '2. high': '137.9900',
  '3. low': '130.8900',
  '4. close': '137.6700',
  '5. volume': '27079586'},
 '2022-04-29': {'1. open': '137.5900',
  '2. high': '139.8700',
  '3. low': '132.0000',
  '4. close': '132.2100',
  '5. volume': '24560464'},
 '2022-04-22': {'1. open': '126.6000',
  '2. high': '141.8800',
  '3. low': '125.5300',
  '4. close': '138.2500',
  '5. volume': '47056765'},
 '2022-04-14': {'1. open': '127.9500',
  '2. high': '130.5800',
  '3. low': '124.9100',
  '4. close': '126.5600',
  '5. volume': '15342641'},
 '2022-04-08': {'1. open': '130.2600',
  '2. high': '131.2300',
  '3. low': '126.7300',
  '4. close': '127.7300',
  '5. volume': '16553021'},
 '2022-04-01': {'1. open': '130.8200',
  '2. high': '133.0800',
  '3. low': '128.0600',
  '4. close': '130.1500',
  '5. volume': '19183786'},
 '2022-03-25': {'1. open': '129.0000',
  '2. high': '131.4000',
  '3. low': '127.4000',
  '4. close': '131.3500',
  '5. volume': '15440952'},
 '2022-03-18': {'1. open': '124.4500',
  '2. high': '128.9300',
  '3. low': '122.6850',
  '4. close': '128.7600',
  '5. volume': '22675632'},
 '2022-03-11': {'1. open': '126.4700',
  '2. high': '128.3450',
  '3. low': '123.1250',
  '4. close': '123.9600',
  '5. volume': '23784887'},
 '2022-03-04': {'1. open': '122.2100',
  '2. high': '127.3500',
  '3. low': '120.7000',
  '4. close': '126.6200',
  '5. volume': '26131658'},
 '2022-02-25': {'1. open': '124.2000',
  '2. high': '125.0000',
  '3. low': '118.8100',
  '4. close': '124.1800',
  '5. volume': '20417161'},
 '2022-02-18': {'1. open': '132.5900',
  '2. high': '132.6500',
  '3. low': '123.6100',
  '4. close': '124.3500',
  '5. volume': '26022824'},
 '2022-02-11': {'1. open': '137.4500',
  '2. high': '138.3500',
  '3. low': '132.3800',
  '4. close': '132.6900',
  '5. volume': '23489144'},
 '2022-02-04': {'1. open': '134.0900',
  '2. high': '138.8200',
  '3. low': '132.3000',
  '4. close': '137.1500',
  '5. volume': '27665550'},
 '2022-01-28': {'1. open': '127.9900',
  '2. high': '137.3361',
  '3. low': '124.1930',
  '4. close': '134.5000',
  '5. volume': '52800401'},
 '2022-01-21': {'1. open': '132.9500',
  '2. high': '133.9000',
  '3. low': '129.2700',
  '4. close': '129.3500',
  '5. volume': '20520487'},
 '2022-01-14': {'1. open': '134.4700',
  '2. high': '136.2000',
  '3. low': '127.9700',
  '4. close': '134.2100',
  '5. volume': '32044685'},
 '2022-01-07': {'1. open': '134.0700',
  '2. high': '142.2000',
  '3. low': '132.5100',
  '4. close': '134.8300',
  '5. volume': '36013766'},
 '2021-12-31': {'1. open': '130.6300',
  '2. high': '134.9900',
  '3. low': '129.9500',
  '4. close': '133.6600',
  '5. volume': '18454937'},
 '2021-12-23': {'1. open': '125.7200',
  '2. high': '130.9600',
  '3. low': '124.7000',
  '4. close': '130.6300',
  '5. volume': '17369625'},
 '2021-12-17': {'1. open': '123.7600',
  '2. high': '128.6400',
  '3. low': '120.7900',
  '4. close': '127.4000',
  '5. volume': '35216850'},
 '2021-12-10': {'1. open': '119.4000',
  '2. high': '125.3300',
  '3. low': '119.4000',
  '4. close': '124.0900',
  '5. volume': '25031512'},
 '2021-12-03': {'1. open': '118.6200',
  '2. high': '119.6100',
  '3. low': '116.4500',
  '4. close': '118.8400',
  '5. volume': '36059651'},
 '2021-11-26': {'1. open': '116.0000',
  '2. high': '118.8100',
  '3. low': '114.5600',
  '4. close': '115.8100',
  '5. volume': '17875027'},
 '2021-11-19': {'1. open': '119.5400',
  '2. high': '120.1600',
  '3. low': '115.2700',
  '4. close': '116.0500',
  '5. volume': '24272797'},
 '2021-11-12': {'1. open': '123.9850',
  '2. high': '124.7800',
  '3. low': '118.7800',
  '4. close': '118.9600',
  '5. volume': '29109912'},
 '2021-11-05': {'1. open': '125.0500',
  '2. high': '127.2900',
  '3. low': '119.9000',
  '4. close': '123.6100',
  '5. volume': '29791780'},
 '2021-10-29': {'1. open': '127.5300',
  '2. high': '128.6500',
  '3. low': '124.6200',
  '4. close': '125.1000',
  '5. volume': '34288134'},
 '2021-10-22': {'1. open': '144.0000',
  '2. high': '144.9400',
  '3. low': '126.6110',
  '4. close': '127.8800',
  '5. volume': '59731582'},
 '2021-10-15': {'1. open': '143.5000',
  '2. high': '144.8500',
  '3. low': '139.6600',
  '4. close': '144.6100',
  '5. volume': '16262687'},
 '2021-10-08': {'1. open': '142.7400',
  '2. high': '146.0000',
  '3. low': '140.8900',
  '4. close': '143.2200',
  '5. volume': '27211291'},
 '2021-10-01': {'1. open': '137.9600',
  '2. high': '143.9700',
  '3. low': '136.4400',
  '4. close': '143.3200',
  '5. volume': '23824191'},
 '2021-09-24': {'1. open': '133.9000',
  '2. high': '138.4800',
  '3. low': '132.7800',
  '4. close': '137.4900',
  '5. volume': '18425230'},
 '2021-09-17': {'1. open': '138.4000',
  '2. high': '138.9900',
  '3. low': '135.0500',
  '4. close': '135.2300',
  '5. volume': '20130213'},
 '2021-09-10': {'1. open': '139.6500',
  '2. high': '139.7900',
  '3. low': '137.0000',
  '4. close': '137.0200',
  '5. volume': '13754250'},
 '2021-09-03': {'1. open': '139.5000',
  '2. high': '140.9400',
  '3. low': '138.8150',
  '4. close': '139.5800',
  '5. volume': '13345045'},
 '2021-08-27': {'1. open': '139.6200',
  '2. high': '140.8000',
  '3. low': '138.4000',
  '4. close': '139.4100',
  '5. volume': '12376600'},
 '2021-08-20': {'1. open': '143.2300',
  '2. high': '143.7400',
  '3. low': '137.2100',
  '4. close': '139.1100',
  '5. volume': '16189007'},
 '2021-08-13': {'1. open': '142.2000',
  '2. high': '143.5800',
  '3. low': '140.3400',
  '4. close': '143.1800',
  '5. volume': '18462255'},
 '2021-08-06': {'1. open': '141.4500',
  '2. high': '144.7000',
  '3. low': '141.0300',
  '4. close': '144.0900',
  '5. volume': '16428567'},
 '2021-07-30': {'1. open': '141.3900',
  '2. high': '143.6400',
  '3. low': '140.7900',
  '4. close': '140.9600',
  '5. volume': '16120616'},
 '2021-07-23': {'1. open': '136.4500',
  '2. high': '144.9200',
  '3. low': '136.2089',
  '4. close': '141.3400',
  '5. volume': '34786264'},
 '2021-07-16': {'1. open': '141.4300',
  '2. high': '141.9599',
  '3. low': '138.5900',
  '4. close': '138.9000',
  '5. volume': '18659679'},
 '2021-07-09': {'1. open': '139.9900',
  '2. high': '141.9800',
  '3. low': '137.1000',
  '4. close': '141.5200',
  '5. volume': '21544898'},
 '2021-07-02': {'1. open': '147.0100',
  '2. high': '147.5000',
  '3. low': '139.4600',
  '4. close': '140.0200',
  '5. volume': '29077036'},
 '2021-06-25': {'1. open': '144.1100',
  '2. high': '147.0700',
  '3. low': '144.0600',
  '4. close': '146.8400',
  '5. volume': '17129373'},
 '2021-06-18': {'1. open': '150.7100',
  '2. high': '151.0300',
  '3. low': '143.0400',
  '4. close': '143.1200',
  '5. volume': '23177438'},
 '2021-06-11': {'1. open': '147.5500',
  '2. high': '152.8400',
  '3. low': '147.1700',
  '4. close': '151.2800',
  '5. volume': '22042806'},
 '2021-06-04': {'1. open': '145.0000',
  '2. high': '147.5500',
  '3. low': '143.7500',
  '4. close': '147.4200',
  '5. volume': '12453017'},
 '2021-05-28': {'1. open': '145.0600',
  '2. high': '145.3900',
  '3. low': '143.0400',
  '4. close': '143.7400',
  '5. volume': '18483838'},
 '2021-05-21': {'1. open': '144.4400',
  '2. high': '145.8000',
  '3. low': '140.9200',
  '4. close': '144.7400',
  '5. volume': '20546126'},
 '2021-05-14': {'1. open': '145.8000',
  '2. high': '148.3800',
  '3. low': '141.1400',
  '4. close': '144.6800',
  '5. volume': '27415665'},
 '2021-05-07': {'1. open': '143.8100',
  '2. high': '148.5150',
  '3. low': '143.5500',
  '4. close': '145.4600',
  '5. volume': '31590796'},
 '2021-04-30': {'1. open': '142.4200',
  '2. high': '148.7400',
  '3. low': '140.5500',
  '4. close': '141.8800',
  '5. volume': '25588990'},
 '2021-04-23': {'1. open': '133.6000',
  '2. high': '144.7400',
  '3. low': '132.5800',
  '4. close': '142.4300',
  '5. volume': '47246234'},
 '2021-04-16': {'1. open': '135.0200',
  '2. high': '135.3700',
  '3. low': '130.3800',
  '4. close': '133.5900',
  '5. volume': '26831249'},
 '2021-04-09': {'1. open': '133.6400',
  '2. high': '136.6900',
  '3. low': '133.4000',
  '4. close': '135.7300',
  '5. volume': '19179860'},
 '2021-04-01': {'1. open': '135.9800',
  '2. high': '137.0700',
  '3. low': '132.2700',
  '4. close': '133.2300',
  '5. volume': '18432506'},
 '2021-03-26': {'1. open': '128.5000',
  '2. high': '136.4800',
  '3. low': '127.8900',
  '4. close': '136.3800',
  '5. volume': '23647858'},
 '2021-03-19': {'1. open': '127.7700',
  '2. high': '130.9950',
  '3. low': '127.3400',
  '4. close': '128.9000',
  '5. volume': '28046462'},
 '2021-03-12': {'1. open': '122.9900',
  '2. high': '128.6400',
  '3. low': '122.8800',
  '4. close': '127.6100',
  '5. volume': '29253064'},
 '2021-03-05': {'1. open': '120.3500',
  '2. high': '123.7500',
  '3. low': '118.7550',
  '4. close': '122.8300',
  '5. volume': '32662092'},
 '2021-02-26': {'1. open': '118.5000',
  '2. high': '124.3500',
  '3. low': '118.4400',
  '4. close': '118.9300',
  '5. volume': '30731807'},
 '2021-02-19': {'1. open': '120.1500',
  '2. high': '120.9400',
  '3. low': '118.3800',
  '4. close': '118.9900',
  '5. volume': '22567552'},
 '2021-02-12': {'1. open': '122.6200',
  '2. high': '123.9767',
  '3. low': '120.0900',
  '4. close': '120.8000',
  '5. volume': '24634263'},
 '2021-02-05': {'1. open': '119.9000',
  '2. high': '121.8100',
  '3. low': '118.1200',
  '4. close': '121.7900',
  '5. volume': '28405606'},
 '2021-01-29': {'1. open': '118.7624',
  '2. high': '124.7900',
  '3. low': '117.4500',
  '4. close': '119.1100',
  '5. volume': '56437187'},
 '2021-01-22': {'1. open': '129.2800',
  '2. high': '132.2400',
  '3. low': '117.3600',
  '4. close': '118.6100',
  '5. volume': '61879427'},
 '2021-01-15': {'1. open': '127.9500',
  '2. high': '130.1600',
  '3. low': '126.4550',
  '4. close': '128.3900',
  '5. volume': '29417959'},
 '2021-01-08': {'1. open': '125.8500',
  '2. high': '131.8800',
  '3. low': '123.0400',
  '4. close': '128.5300',
  '5. volume': '28434389'},
 '2020-12-31': {'1. open': '125.1000',
  '2. high': '126.6000',
  '3. low': '123.2400',
  '4. close': '125.8800',
  '5. volume': '14025419'},
 '2020-12-24': {'1. open': '123.9700',
  '2. high': '125.2100',
  '3. low': '121.7200',
  '4. close': '124.6900',
  '5. volume': '14908439'},
 '2020-12-18': {'1. open': '125.3200',
  '2. high': '126.5728',
  '3. low': '123.4400',
  '4. close': '125.8500',
  '5. volume': '25280527'},
 '2020-12-11': {'1. open': '126.4900',
  '2. high': '127.6900',
  '3. low': '123.6100',
  '4. close': '124.2700',
  '5. volume': '29511629'},
 '2020-12-04': {'1. open': '124.1000',
  '2. high': '127.3800',
  '3. low': '122.4100',
  '4. close': '127.2000',
  '5. volume': '24848983'},
 '2020-11-27': {'1. open': '117.4300',
  '2. high': '125.3130',
  '3. low': '117.2700',
  '4. close': '124.3500',
  '5. volume': '19418148'},
 '2020-11-20': {'1. open': '118.3000',
  '2. high': '118.8800',
  '3. low': '115.8900',
  '4. close': '116.9400',
  '5. volume': '22498909'},
 '2020-11-13': {'1. open': '117.8800',
  '2. high': '119.7400',
  '3. low': '113.4800',
  '4. close': '116.8500',
  '5. volume': '30088820'},
 '2020-11-06': {'1. open': '112.6500',
  '2. high': '115.6500',
  '3. low': '111.1600',
  '4. close': '114.0400',
  '5. volume': '25467232'},
 '2020-10-30': {'1. open': '114.4500',
  '2. high': '114.9000',
  '3. low': '105.9200',
  '4. close': '111.6600',
  '5. volume': '37250916'},
 '2020-10-23': {'1. open': '126.8000',
  '2. high': '127.3500',
  '3. low': '112.9800',
  '4. close': '116.0000',
  '5. volume': '50486636'},
 '2020-10-16': {'1. open': '128.0700',
  '2. high': '128.2500',
  '3. low': '123.8500',
  '4. close': '125.9300',
  '5. volume': '21874963'},
 '2020-10-09': {'1. open': '121.8400',
  '2. high': '135.5000',
  '3. low': '121.0500',
  '4. close': '127.7900',
  '5. volume': '43381507'},
 '2020-10-02': {'1. open': '120.5700',
  '2. high': '123.3000',
  '3. low': '118.8200',
  '4. close': '120.5700',
  '5. volume': '15038264'},
 '2020-09-25': {'1. open': '120.4800',
  '2. high': '121.5900',
  '3. low': '116.4800',
  '4. close': '118.9500',
  '5. volume': '18708494'},
 '2020-09-18': {'1. open': '122.3600',
  '2. high': '125.8200',
  '3. low': '121.7600',
  '4. close': '122.7600',
  '5. volume': '18909398'},
 '2020-09-11': {'1. open': '122.1600',
  '2. high': '123.7000',
  '3. low': '120.2400',
  '4. close': '121.4600',
  '5. volume': '16507866'},
 '2020-09-04': {'1. open': '125.2500',
  '2. high': '129.9500',
  '3. low': '121.2400',
  '4. close': '122.3000',

# EDA

In [ ]:
date = list(api_data.keys())
date

['2023-05-10',
 '2023-05-05',
 '2023-04-28',
 '2023-04-21',
 '2023-04-14',
 '2023-04-06',
 '2023-03-31',
 '2023-03-24',
 '2023-03-17',
 '2023-03-10',
 '2023-03-03',
 '2023-02-24',
 '2023-02-17',
 '2023-02-10',
 '2023-02-03',
 '2023-01-27',
 '2023-01-20',
 '2023-01-13',
 '2023-01-06',
 '2022-12-30',
 '2022-12-23',
 '2022-12-16',
 '2022-12-09',
 '2022-12-02',
 '2022-11-25',
 '2022-11-18',
 '2022-11-11',
 '2022-11-04',
 '2022-10-28',
 '2022-10-21',
 '2022-10-14',
 '2022-10-07',
 '2022-09-30',
 '2022-09-23',
 '2022-09-16',
 '2022-09-09',
 '2022-09-02',
 '2022-08-26',
 '2022-08-19',
 '2022-08-12',
 '2022-08-05',
 '2022-07-29',
 '2022-07-22',
 '2022-07-15',
 '2022-07-08',
 '2022-07-01',
 '2022-06-24',
 '2022-06-17',
 '2022-06-10',
 '2022-06-03',
 '2022-05-27',
 '2022-05-20',
 '2022-05-13',
 '2022-05-06',
 '2022-04-29',
 '2022-04-22',
 '2022-04-14',
 '2022-04-08',
 '2022-04-01',
 '2022-03-25',
 '2022-03-18',
 '2022-03-11',
 '2022-03-04',
 '2022-02-25',
 '2022-02-18',
 '2022-02-11',
 '2022-02-04',
 '2022-01-28',
 '2022-01-21',
 '2022-01-14',
 '2022-01-07',
 '2021-12-31',
 '2021-12-23',
 '2021-12-17',
 '2021-12-10',
 '2021-12-03',
 '2021-11-26',
 '2021-11-19',
 '2021-11-12',
 '2021-11-05',
 '2021-10-29',
 '2021-10-22',
 '2021-10-15',
 '2021-10-08',
 '2021-10-01',
 '2021-09-24',
 '2021-09-17',
 '2021-09-10',
 '2021-09-03',
 '2021-08-27',
 '2021-08-20',
 '2021-08-13',
 '2021-08-06',
 '2021-07-30',
 '2021-07-23',
 '2021-07-16',
 '2021-07-09',
 '2021-07-02',
 '2021-06-25',
 '2021-06-18',
 '2021-06-11',
 '2021-06-04',
 '2021-05-28',
 '2021-05-21',
 '2021-05-14',
 '2021-05-07',
 '2021-04-30',
 '2021-04-23',
 '2021-04-16',
 '2021-04-09',
 '2021-04-01',
 '2021-03-26',
 '2021-03-19',
 '2021-03-12',
 '2021-03-05',
 '2021-02-26',
 '2021-02-19',
 '2021-02-12',
 '2021-02-05',
 '2021-01-29',
 '2021-01-22',
 '2021-01-15',
 '2021-01-08',
 '2020-12-31',
 '2020-12-24',
 '2020-12-18',
 '2020-12-11',
 '2020-12-04',
 '2020-11-27',
 '2020-11-20',
 '2020-11-13',
 '2020-11-06',
 '2020-10-30',
 '2020-10-23',
 '2020-10-16',
 '2020-10-09',
 '2020-10-02',
 '2020-09-25',
 '2020-09-18',
 '2020-09-11',
 '2020-09-04',
 '2020-08-28',
 '2020-08-21',
 '2020-08-14',
 '2020-08-07',
 '2020-07-31',
 '2020-07-24',
 '2020-07-17',
 '2020-07-10',
 '2020-07-02',
 '2020-06-26',
 '2020-06-19',
 '2020-06-12',
 '2020-06-05',
 '2020-05-29',
 '2020-05-22',
 '2020-05-15',
 '2020-05-08',
 '2020-05-01',
 '2020-04-24',
 '2020-04-17',
 '2020-04-09',
 '2020-04-03',
 '2020-03-27',
 '2020-03-20',
 '2020-03-13',
 '2020-03-06',
 '2020-02-28',
 '2020-02-21',
 '2020-02-14',
 '2020-02-07',
 '2020-01-31',
 '2020-01-24',
 '2020-01-17',
 '2020-01-10',
 '2020-01-03',
 '2019-12-27',
 '2019-12-20',
 '2019-12-13',
 '2019-12-06',
 '2019-11-29',
 '2019-11-22',
 '2019-11-15',
 '2019-11-08',
 '2019-11-01',
 '2019-10-25',
 '2019-10-18',
 '2019-10-11',
 '2019-10-04',
 '2019-09-27',
 '2019-09-20',
 '2019-09-13',
 '2019-09-06',
 '2019-08-30',
 '2019-08-23',
 '2019-08-16',
 '2019-08-09',
 '2019-08-02',
 '2019-07-26',
 '2019-07-19',
 '2019-07-12',
 '2019-07-05',
 '2019-06-28',
 '2019-06-21',
 '2019-06-14',
 '2019-06-07',
 '2019-05-31',
 '2019-05-24',
 '2019-05-17',
 '2019-05-10',
 '2019-05-03',
 '2019-04-26',
 '2019-04-18',
 '2019-04-12',
 '2019-04-05',
 '2019-03-29',
 '2019-03-22',
 '2019-03-15',
 '2019-03-08',
 '2019-03-01',
 '2019-02-22',
 '2019-02-15',
 '2019-02-08',
 '2019-02-01',
 '2019-01-25',
 '2019-01-18',
 '2019-01-11',
 '2019-01-04',
 '2018-12-28',
 '2018-12-21',
 '2018-12-14',
 '2018-12-07',
 '2018-11-30',
 '2018-11-23',
 '2018-11-16',
 '2018-11-09',
 '2018-11-02',
 '2018-10-26',
 '2018-10-19',
 '2018-10-12',
 '2018-10-05',
 '2018-09-28',
 '2018-09-21',
 '2018-09-14',
 '2018-09-07',
 '2018-08-31',
 '2018-08-24',
 '2018-08-17',
 '2018-08-10',
 '2018-08-03',
 '2018-07-27',
 '2018-07-20',
 '2018-07-13',
 '2018-07-06',
 '2018-06-29',
 '2018-06-22',
 '2018-06-15',
 '2018-06-08',
 '2018-06-01',
 '2018-05-25',
 '2018-05-18',
 '2018-05-11',
 '2018-05-04',
 '2018-04-27',
 '2018-04-20',
 '2018-04-13',
 '2018-04-06',
 '2018-03-29',
 '2018-03-23',
 '2018-03-16',
 '2018-03-09',
 '2018-03-02',
 '2018-02-23',
 '2018-02-16',
 '2018-02-09',
 '2018-02-02',
 '2018-01-26',
 '2018-01-19',
 '2018-01-12',
 '2018-01-05',
 '2017-12-29',
 '2017-12-22',
 '2017-12-15',
 '2017-12-08',
 '2017-12-01',
 '2017-11-24',
 '2017-11-17',
 '2017-11-10',
 '2017-11-03',
 '2017-10-27',
 '2017-10-20',
 '2017-10-13',
 '2017-10-06',
 '2017-09-29',
 '2017-09-22',
 '2017-09-15',
 '2017-09-08',
 '2017-09-01',
 '2017-08-25',
 '2017-08-18',
 '2017-08-11',
 '2017-08-04',
 '2017-07-28',
 '2017-07-21',
 '2017-07-14',
 '2017-07-07',
 '2017-06-30',
 '2017-06-23',
 '2017-06-16',
 '2017-06-09',
 '2017-06-02',
 '2017-05-26',
 '2017-05-19',
 '2017-05-12',
 '2017-05-05',
 '2017-04-28',
 '2017-04-21',
 '2017-04-13',
 '2017-04-07',
 '2017-03-31',
 '2017-03-24',
 '2017-03-17',
 '2017-03-10',
 '2017-03-03',
 '2017-02-24',
 '2017-02-17',
 '2017-02-10',
 '2017-02-03',
 '2017-01-27',
 '2017-01-20',
 '2017-01-13',
 '2017-01-06',
 '2016-12-30',
 '2016-12-23',
 '2016-12-16',
 '2016-12-09',
 '2016-12-02',
 '2016-11-25',
 '2016-11-18',
 '2016-11-11',
 '2016-11-04',
 '2016-10-28',
 '2016-10-21',
 '2016-10-14',
 '2016-10-07',
 '2016-09-30',
 '2016-09-23',
 '2016-09-16',
 '2016-09-09',
 '2016-09-02',
 '2016-08-26',
 '2016-08-19',
 '2016-08-12',
 '2016-08-05',
 '2016-07-29',
 '2016-07-22',
 '2016-07-15',
 '2016-07-08',
 '2016-07-01',
 '2016-06-24',
 '2016-06-17',
 '2016-06-10',
 '2016-06-03',
 '2016-05-27',
 '2016-05-20',
 '2016-05-13',
 '2016-05-06',
 '2016-04-29',
 '2016-04-22',
 '2016-04-15',
 '2016-04-08',
 '2016-04-01',
 '2016-03-24',
 '2016-03-18',
 '2016-03-11',
 '2016-03-04',
 '2016-02-26',
 '2016-02-19',
 '2016-02-12',
 '2016-02-05',
 '2016-01-29',
 '2016-01-22',
 '2016-01-15',
 '2016-01-08',
 '2015-12-31',
 '2015-12-24',
 '2015-12-18',
 '2015-12-11',
 '2015-12-04',
 '2015-11-27',
 '2015-11-20',
 '2015-11-13',
 '2015-11-06',
 '2015-10-30',
 '2015-10-23',
 '2015-10-16',
 '2015-10-09',
 '2015-10-02',
 '2015-09-25',
 '2015-09-18',
 '2015-09-11',
 '2015-09-04',
 '2015-08-28',
 '2015-08-21',
 '2015-08-14',
 '2015-08-07',
 '2015-07-31',
 '2015-07-24',
 '2015-07-17',
 '2015-07-10',
 '2015-07-02',
 '2015-06-26',
 '2015-06-19',
 '2015-06-12',
 '2015-06-05',
 '2015-05-29',
 '2015-05-22',
 '2015-05-15',
 '2015-05-08',
 '2015-05-01',
 '2015-04-24',
 '2015-04-17',
 '2015-04-10',
 '2015-04-02',
 '2015-03-27',
 '2015-03-20',
 '2015-03-13',
 '2015-03-06',
 '2015-02-27',
 '2015-02-20',
 '2015-02-13',
 '2015-02-06',
 '2015-01-30',
 '2015-01-23',
 '2015-01-16',
 '2015-01-09',
 '2015-01-02',
 '2014-12-26',
 '2014-12-19',
 '2014-12-12',
 '2014-12-05',
 '2014-11-28',
 '2014-11-21',
 '2014-11-14',
 '2014-11-07',
 '2014-10-31',
 '2014-10-24',
 '2014-10-17',
 '2014-10-10',
 '2014-10-03',
 '2014-09-26',
 '2014-09-19',
 '2014-09-12',
 '2014-09-05',
 '2014-08-29',
 '2014-08-22',
 '2014-08-15',
 '2014-08-08',
 '2014-08-01',
 '2014-07-25',
 '2014-07-18',
 '2014-07-11',
 '2014-07-03',
 '2014-06-27',
 '2014-06-20',
 '2014-06-13',
 '2014-06-06',
 '2014-05-30',
 '2014-05-23',
 '2014-05-16',
 '2014-05-09',
 '2014-05-02',
 '2014-04-25',
 '2014-04-17',
 '2014-04-11',
 '2014-04-04',
 '2014-03-28',
 '2014-03-21',
 '2014-03-14',
 '2014-03-07',
 '2014-02-28',
 '2014-02-21',
 '2014-02-14',
 '2014-02-07',
 '2014-01-31',
 '2014-01-24',
 '2014-01-17',
 '2014-01-10',
 '2014-01-03',
 '2013-12-27',
 '2013-12-20',
 '2013-12-13',
 '2013-12-06',
 '2013-11-29',
 '2013-11-22',
 '2013-11-15',
 '2013-11-08',
 '2013-11-01',
 '2013-10-25',
 '2013-10-18',
 '2013-10-11',
 '2013-10-04',
 '2013-09-27',
 '2013-09-20',
 '2013-09-13',
 '2013-09-06',
 '2013-08-30',
 '2013-08-23',
 '2013-08-16',
 '2013-08-09',
 '2013-08-02',
 '2013-07-26',
 '2013-07-19',
 '2013-07-12',
 '2013-07-05',
 '2013-06-28',
 '2013-06-21',
 '2013-06-14',
 '2013-06-07',
 '2013-05-31',
 '2013-05-24',
 '2013-05-17',
 '2013-05-10',
 '2013-05-03',
 '2013-04-26',
 '2013-04-19',
 '2013-04-12',
 '2013-04-05',
 '2013-03-28',
 '2013-03-22',
 '2013-03-15',
 '2013-03-08',
 '2013-03-01',
 '2013-02-22',
 '2013-02-15',
 '2013-02-08',
 '2013-02-01',
 '2013-01-25',
 '2013-01-18',
 '2013-01-11',
 '2013-01-04',
 '2012-12-28',
 '2012-12-21',
 '2012-12-14',
 '2012-12-07',
 '2012-11-30',
 '2012-11-23',
 '2012-11-16',
 '2012-11-09',
 '2012-11-02',
 '2012-10-26',
 '2012-10-19',
 '2012-10-12',
 '2012-10-05',
 '2012-09-28',
 '2012-09-21',
 '2012-09-14',
 '2012-09-07',
 '2012-08-31',
 '2012-08-24',
 '2012-08-17',
 '2012-08-10',
 '2012-08-03',
 '2012-07-27',
 '2012-07-20',
 '2012-07-13',
 '2012-07-06',
 '2012-06-29',
 '2012-06-22',
 '2012-06-15',
 '2012-06-08',
 '2012-06-01',
 '2012-05-25',
 '2012-05-18',
 '2012-05-11',
 '2012-05-04',
 '2012-04-27',
 '2012-04-20',
 '2012-04-13',
 '2012-04-05',
 '2012-03-30',
 '2012-03-23',
 '2012-03-16',
 '2012-03-09',
 '2012-03-02',
 '2012-02-24',
 '2012-02-17',
 '2012-02-10',
 '2012-02-03',
 '2012-01-27',
 '2012-01-20',
 '2012-01-13',
 '2012-01-06',
 '2011-12-30',
 '2011-12-23',
 '2011-12-16',
 '2011-12-09',
 '2011-12-02',
 '2011-11-25',
 '2011-11-18',
 '2011-11-11',
 '2011-11-04',
 '2011-10-28',
 '2011-10-21',
 '2011-10-14',
 '2011-10-07',
 '2011-09-30',
 '2011-09-23',
 '2011-09-16',
 '2011-09-09',
 '2011-09-02',
 '2011-08-26',
 '2011-08-19',
 '2011-08-12',
 '2011-08-05',
 '2011-07-29',
 '2011-07-22',
 '2011-07-15',
 '2011-07-08',
 '2011-07-01',
 '2011-06-24',
 '2011-06-17',
 '2011-06-10',
 '2011-06-03',
 '2011-05-27',
 '2011-05-20',
 '2011-05-13',
 '2011-05-06',
 '2011-04-29',
 '2011-04-21',
 '2011-04-15',
 '2011-04-08',
 '2011-04-01',
 '2011-03-25',
 '2011-03-18',
 '2011-03-11',
 '2011-03-04',
 '2011-02-25',
 '2011-02-18',
 '2011-02-11',
 '2011-02-04',
 '2011-01-28',
 '2011-01-21',
 '2011-01-14',
 '2011-01-07',
 '2010-12-31',
 '2010-12-23',
 '2010-12-17',
 '2010-12-10',
 '2010-12-03',
 '2010-11-26',
 '2010-11-19',
 '2010-11-12',
 '2010-11-05',
 '2010-10-29',
 '2010-10-22',
 '2010-10-15',
 '2010-10-08',
 '2010-10-01',
 '2010-09-24',
 '2010-09-17',
 '2010-09-10',
 '2010-09-03',
 '2010-08-27',
 '2010-08-20',
 '2010-08-13',
 '2010-08-06',
 '2010-07-30',
 '2010-07-23',
 '2010-07-16',
 '2010-07-09',
 '2010-07-02',
 '2010-06-25',
 '2010-06-18',
 '2010-06-11',
 '2010-06-04',
 '2010-05-28',
 '2010-05-21',
 '2010-05-14',
 '2010-05-07',
 '2010-04-30',
 '2010-04-23',
 '2010-04-16',
 '2010-04-09',
 '2010-04-01',
 '2010-03-26',
 '2010-03-19',
 '2010-03-12',
 '2010-03-05',
 '2010-02-26',
 '2010-02-19',
 '2010-02-12',
 '2010-02-05',
 '2010-01-29',
 '2010-01-22',
 '2010-01-15',
 '2010-01-08',
 '2009-12-31',
 '2009-12-24',
 '2009-12-18',
 '2009-12-11',
 '2009-12-04',
 '2009-11-27',
 '2009-11-20',
 '2009-11-13',
 '2009-11-06',
 '2009-10-30',
 '2009-10-23',
 '2009-10-16',
 '2009-10-09',
 '2009-10-02',
 '2009-09-25',
 '2009-09-18',
 '2009-09-11',
 '2009-09-04',
 '2009-08-28',
 '2009-08-21',
 '2009-08-14',
 '2009-08-07',
 '2009-07-31',
 '2009-07-24',
 '2009-07-17',
 '2009-07-10',
 '2009-07-02',
 '2009-06-26',
 '2009-06-19',
 '2009-06-12',
 '2009-06-05',
 '2009-05-29',
 '2009-05-22',
 '2009-05-15',
 '2009-05-08',
 '2009-05-01',
 '2009-04-24',
 '2009-04-17',
 '2009-04-09',
 '2009-04-03',
 '2009-03-27',
 '2009-03-20',
 '2009-03-13',
 '2009-03-06',
 '2009-02-27',
 '2009-02-20',
 '2009-02-13',
 '2009-02-06',
 '2009-01-30',
 '2009-01-23',
 '2009-01-16',
 '2009-01-09',
 '2009-01-02',
 '2008-12-26',
 '2008-12-19',
 '2008-12-12',
 '2008-12-05',
 '2008-11-28',
 '2008-11-21',
 '2008-11-14',
 '2008-11-07',
 '2008-10-31',
 '2008-10-24',
 '2008-10-17',
 '2008-10-10',
 '2008-10-03',
 '2008-09-26',
 '2008-09-19',
 '2008-09-12',
 '2008-09-05',
 '2008-08-29',
 '2008-08-22',
 '2008-08-15',
 '2008-08-08',
 '2008-08-01',
 '2008-07-25',
 '2008-07-18',
 '2008-07-11',
 '2008-07-03',
 '2008-06-27',
 '2008-06-20',
 '2008-06-13',
 '2008-06-06',
 '2008-05-30',
 '2008-05-23',
 '2008-05-16',
 '2008-05-09',
 '2008-05-02',
 '2008-04-25',
 '2008-04-18',
 '2008-04-11',
 '2008-04-04',
 '2008-03-28',
 '2008-03-20',
 '2008-03-14',
 '2008-03-07',
 '2008-02-29',
 '2008-02-22',
 '2008-02-15',
 '2008-02-08',
 '2008-02-01',
 '2008-01-25',
 '2008-01-18',
 '2008-01-11',
 '2008-01-04',
 '2007-12-28',
 '2007-12-21',
 '2007-12-14',
 '2007-12-07',
 '2007-11-30',
 '2007-11-23',
 '2007-11-16',
 '2007-11-09',
 '2007-11-02',
 '2007-10-26',
 '2007-10-19',
 '2007-10-12',
 '2007-10-05',
 '2007-09-28',
 '2007-09-21',
 '2007-09-14',
 '2007-09-07',
 '2007-08-31',
 '2007-08-24',
 '2007-08-17',
 '2007-08-10',
 '2007-08-03',
 '2007-07-27',
 '2007-07-20',
 '2007-07-13',
 '2007-07-06',
 '2007-06-29',
 '2007-06-22',
 '2007-06-15',
 '2007-06-08',
 '2007-06-01',
 '2007-05-25',
 '2007-05-18',
 '2007-05-11',
 '2007-05-04',
 '2007-04-27',
 '2007-04-20',
 '2007-04-13',
 '2007-04-05',
 '2007-03-30',
 '2007-03-23',
 '2007-03-16',
 '2007-03-09',
 '2007-03-02',
 '2007-02-23',
 '2007-02-16',
 '2007-02-09',
 '2007-02-02',
 '2007-01-26',
 '2007-01-19',
 '2007-01-12',
 '2007-01-05',
 '2006-12-29',
 '2006-12-22',
 '2006-12-15',
 '2006-12-08',
 '2006-12-01',
 '2006-11-24',
 '2006-11-17',
 '2006-11-10',
 '2006-11-03',
 '2006-10-27',
 '2006-10-20',
 '2006-10-13',
 '2006-10-06',
 '2006-09-29',
 '2006-09-22',
 '2006-09-15',
 '2006-09-08',
 '2006-09-01',
 '2006-08-25',
 '2006-08-18',
 '2006-08-11',
 '2006-08-04',
 '2006-07-28',
 '2006-07-21',
 '2006-07-14',
 '2006-07-07',
 '2006-06-30',
 '2006-06-23',
 '2006-06-16',
 '2006-06-09',
 '2006-06-02',
 '2006-05-26',
 '2006-05-19',
 '2006-05-12',
 '2006-05-05',
 '2006-04-28',
 '2006-04-21',
 '2006-04-13',
 '2006-04-07',
 '2006-03-31',
 '2006-03-24',
 '2006-03-17',
 '2006-03-10',
 '2006-03-03',
 '2006-02-24',
 '2006-02-17',
 '2006-02-10',
 '2006-02-03',
 '2006-01-27',
 '2006-01-20',
 '2006-01-13',
 '2006-01-06',
 '2005-12-30',
 '2005-12-23',
 '2005-12-16',
 '2005-12-09',
 '2005-12-02',
 '2005-11-25',
 '2005-11-18',
 '2005-11-11',
 '2005-11-04',
 '2005-10-28',
 '2005-10-21',
 '2005-10-14',
 '2005-10-07',
 '2005-09-30',
 '2005-09-23',
 '2005-09-16',
 '2005-09-09',
 '2005-09-02',
 '2005-08-26',
 '2005-08-19',
 '2005-08-12',
 '2005-08-05',
 '2005-07-29',
 '2005-07-22',
 '2005-07-15',
 '2005-07-08',
 '2005-07-01',
 '2005-06-24',
 '2005-06-17',
 '2005-06-10',
 '2005-06-03',
 '2005-05-27',
 '2005-05-20',
 '2005-05-13',
 '2005-05-06',
 '2005-04-29',
 '2005-04-22',
 '2005-04-15',
 '2005-04-08',
 '2005-04-01',
 '2005-03-24',
 '2005-03-18',
 '2005-03-11',
 '2005-03-04',
 '2005-02-25',
 '2005-02-18',
 '2005-02-11',
 '2005-02-04',
 '2005-01-28',
 '2005-01-21',
 '2005-01-14',
 '2005-01-07',
 '2004-12-31',
 '2004-12-23',
 '2004-12-17',
 '2004-12-10',
 '2004-12-03',
 '2004-11-26',
 '2004-11-19',
 '2004-11-12',
 '2004-11-05',
 '2004-10-29',
 '2004-10-22',
 '2004-10-15',
 '2004-10-08',
 '2004-10-01',
 '2004-09-24',
 '2004-09-17',
 '2004-09-10',
 '2004-09-03',
 '2004-08-27',
 '2004-08-20',
 '2004-08-13',
 '2004-08-06',
 '2004-07-30',
 '2004-07-23',
 '2004-07-16',
 '2004-07-09',
 '2004-07-02',
 '2004-06-25',
 '2004-06-18',
 '2004-06-10',
 '2004-06-04',
 '2004-05-28',
 '2004-05-21',
 '2004-05-14',
 '2004-05-07',
 '2004-04-30',
 '2004-04-23',
 '2004-04-16',
 '2004-04-08',
 '2004-04-02',
 '2004-03-26',
 '2004-03-19',
 ...]

In [ ]:
#CREAT-DATA_FRAME
stock_dataset_raw=pd.DataFrame(api_data)
stock_dataset_raw.head()

,2023-05-10,2023-05-05,2023-04-28,2023-04-21,2023-04-14,2023-04-06,2023-03-31,2023-03-24,2023-03-17,2023-03-10,...,2000-01-14,2000-01-07,1999-12-31,1999-12-23,1999-12-17,1999-12-10,1999-12-03,1999-11-26,1999-11-19,1999-11-12
1. open,123.7600,126.3500,125.5500,128.3000,129.8300,130.9700,126.4700,124.3100,125.1500,129.6400,...,117.2500,112.4400,109.6900,109.0600,108.1200,113.0000,104.9400,105.5000,96.0000,90.5000
2. high,123.9200,126.7500,127.2500,130.9800,131.1050,132.6100,131.4800,127.2150,128.1900,130.8600,...,123.3100,119.7500,110.7500,110.4400,112.7500,122.1200,112.8700,109.8700,105.1200,97.5000
3. low,120.6600,121.7563,124.5600,125.2700,126.0000,130.3150,126.4700,122.6000,121.7100,125.1300,...,115.3700,110.6200,106.6200,107.7500,104.5000,107.5600,102.1200,101.8100,92.6200,90.5000
4. close,122.0200,123.6500,126.4100,125.7300,128.1400,130.5000,131.0900,125.2900,123.6900,125.4500,...,119.6200,113.5000,107.8700,108.6200,110.0000,109.0000,111.8700,105.0000,103.9400,95.8700
5. volume,12384988,21164660,20644224,30341128,19506500,13172262,20779522,20458253,66132690,20761401,...,42663900,51137300,16812500,18144100,38810100,58626000,37670000,37165600,61550800,43569700

In [ ]:
#Transpose DataFrame (swap rows and columns)
stock_dataset_api=stock_dataset_raw.T



se = pd.Series(date)
stock_dataset_api['Date'] = se.values

stock_dataset_api.shift(periods=2, axis="columns")

stock_dataset_api.head()

             1. open   2. high    3. low  4. close 5. volume        Date
2023-05-10  123.7600  123.9200  120.6600  122.0200  12384988  2023-05-10
2023-05-05  126.3500  126.7500  121.7563  123.6500  21164660  2023-05-05
2023-04-28  125.5500  127.2500  124.5600  126.4100  20644224  2023-04-28
2023-04-21  128.3000  130.9800  125.2700  125.7300  30341128  2023-04-21
2023-04-14  129.8300  131.1050  126.0000  128.1400  19506500  2023-04-14

In [ ]:
#Rename Columns
new_col=['Open', 'High', 'Low', 'Close', 'Total Trade Quantity',"Date"]
stock_dataset_api.columns=new_col

In [ ]:
stock_dataset_api

,Open,High,Low,Close,Total Trade Quantity,Date
2023-05-10,123.7600,123.9200,120.6600,122.0200,12384988,2023-05-10
2023-05-05,126.3500,126.7500,121.7563,123.6500,21164660,2023-05-05
2023-04-28,125.5500,127.2500,124.5600,126.4100,20644224,2023-04-28
2023-04-21,128.3000,130.9800,125.2700,125.7300,30341128,2023-04-21
2023-04-14,129.8300,131.1050,126.0000,128.1400,19506500,2023-04-14
...,...,...,...,...,...,...
1999-12-10,113.0000,122.1200,107.5600,109.0000,58626000,1999-12-10
1999-12-03,104.9400,112.8700,102.1200,111.8700,37670000,1999-12-03
1999-11-26,105.5000,109.8700,101.8100,105.0000,37165600,1999-11-26
1999-11-19,96.0000,105.1200,92.6200,103.9400,61550800,1999-11-19
1999-11-12,90.5000,97.5000,90.5000,95.8700,43569700,1999-11-12

In [ ]:
stock_dataset_api = stock_dataset_api.reset_index(drop=False)
#stock_dataset_api = stock_dataset_api.rename(columns={'index': 'date'}).drop(columns=['Date'])

In [ ]:
stock_dataset_api

,index,Open,High,Low,Close,Total Trade Quantity,Date
0,2023-05-10,123.7600,123.9200,120.6600,122.0200,12384988,2023-05-10
1,2023-05-05,126.3500,126.7500,121.7563,123.6500,21164660,2023-05-05
2,2023-04-28,125.5500,127.2500,124.5600,126.4100,20644224,2023-04-28
3,2023-04-21,128.3000,130.9800,125.2700,125.7300,30341128,2023-04-21
4,2023-04-14,129.8300,131.1050,126.0000,128.1400,19506500,2023-04-14
...,...,...,...,...,...,...,...
1222,1999-12-10,113.0000,122.1200,107.5600,109.0000,58626000,1999-12-10
1223,1999-12-03,104.9400,112.8700,102.1200,111.8700,37670000,1999-12-03
1224,1999-11-26,105.5000,109.8700,101.8100,105.0000,37165600,1999-11-26
1225,1999-11-19,96.0000,105.1200,92.6200,103.9400,61550800,1999-11-19
1226,1999-11-12,90.5000,97.5000,90.5000,95.8700,43569700,1999-11-12

In [ ]:
stock_dataset_api =stock_dataset_api.drop(columns=['Date'])

In [ ]:
stock_dataset_api = stock_dataset_api.rename(columns={'index': 'Date'})

In [ ]:
stock_dataset_api

            Date      Open      High       Low     Close Total Trade Quantity
0     2023-05-10  123.7600  123.9200  120.6600  122.0200             12384988
1     2023-05-05  126.3500  126.7500  121.7563  123.6500             21164660
2     2023-04-28  125.5500  127.2500  124.5600  126.4100             20644224
3     2023-04-21  128.3000  130.9800  125.2700  125.7300             30341128
4     2023-04-14  129.8300  131.1050  126.0000  128.1400             19506500
...          ...       ...       ...       ...       ...                  ...
1222  1999-12-10  113.0000  122.1200  107.5600  109.0000             58626000
1223  1999-12-03  104.9400  112.8700  102.1200  111.8700             37670000
1224  1999-11-26  105.5000  109.8700  101.8100  105.0000             37165600
1225  1999-11-19   96.0000  105.1200   92.6200  103.9400             61550800
1226  1999-11-12   90.5000   97.5000   90.5000   95.8700             43569700

[1227 rows x 6 columns]

In [ ]:
df = stock_dataset_api

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
      43.7/43.7 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
db = pymysql.connect(
    host='finalproject.cdqhyewfduka.us-east-1.rds.amazonaws.com',
    user='admin',
    password='Sri199838',
    database='sys',
    connect_timeout=10
)

In [ ]:
cur = db.cursor()

In [ ]:
cur

In [ ]:
sql = '''show tables'''
cur.execute(sql)
cur.fetchall()

(('Date_Dimension',),
 ('Date_Dimension_Tab',),
 ('Stock_Price_Fact',),
 ('Stock_Price_Fact_Tab',),
 ('VisualData',),
 ('department_master',),
 ('designation_master',),
 ('employee_attendance',),
 ('employee_master',),
 ('host_summary',),
 ('host_summary_by_file_io',),
 ('host_summary_by_file_io_type',),
 ('host_summary_by_stages',),
 ('host_summary_by_statement_latency',),
 ('host_summary_by_statement_type',),
 ('innodb_buffer_stats_by_schema',),
 ('innodb_buffer_stats_by_table',),
 ('innodb_lock_waits',),
 ('io_by_thread_by_latency',),
 ('io_global_by_file_by_bytes',),
 ('io_global_by_file_by_latency',),
 ('io_global_by_wait_by_bytes',),
 ('io_global_by_wait_by_latency',),
 ('latest_file_io',),
 ('memory_by_host_by_current_bytes',),
 ('memory_by_thread_by_current_bytes',),
 ('memory_by_user_by_current_bytes',),
 ('memory_global_by_current_bytes',),
 ('memory_global_total',),
 ('metrics',),
 ('my_table',),
 ('processlist',),
 ('ps_check_lost_instrumentation',),
 ('schema_auto_increment_columns',),
 ('schema_index_statistics',),
 ('schema_object_overview',),
 ('schema_redundant_indexes',),
 ('schema_table_lock_waits',),
 ('schema_table_statistics',),
 ('schema_table_statistics_with_buffer',),
 ('schema_tables_with_full_table_scans',),
 ('schema_unused_indexes',),
 ('session',),
 ('session_ssl_status',),
 ('srikanth',),
 ('statement_analysis',),
 ('statements_with_errors_or_warnings',),
 ('statements_with_full_table_scans',),
 ('statements_with_runtimes_in_95th_percentile',),
 ('statements_with_sorting',),
 ('statements_with_temp_tables',),
 ('sys_config',),
 ('user_summary',),
 ('user_summary_by_file_io',),
 ('user_summary_by_file_io_type',),
 ('user_summary_by_stages',),
 ('user_summary_by_statement_latency',),
 ('user_summary_by_statement_type',),
 ('version',),
 ('wait_classes_global_by_avg_latency',),
 ('wait_classes_global_by_latency',),
 ('waits_by_host_by_latency',),
 ('waits_by_user_by_latency',),
 ('waits_global_by_latency',),
 ('x$host_summary',),
 ('x$host_summary_by_file_io',),
 ('x$host_summary_by_file_io_type',),
 ('x$host_summary_by_stages',),
 ('x$host_summary_by_statement_latency',),
 ('x$host_summary_by_statement_type',),
 ('x$innodb_buffer_stats_by_schema',),
 ('x$innodb_buffer_stats_by_table',),
 ('x$innodb_lock_waits',),
 ('x$io_by_thread_by_latency',),
 ('x$io_global_by_file_by_bytes',),
 ('x$io_global_by_file_by_latency',),
 ('x$io_global_by_wait_by_bytes',),
 ('x$io_global_by_wait_by_latency',),
 ('x$latest_file_io',),
 ('x$memory_by_host_by_current_bytes',),
 ('x$memory_by_thread_by_current_bytes',),
 ('x$memory_by_user_by_current_bytes',),
 ('x$memory_global_by_current_bytes',),
 ('x$memory_global_total',),
 ('x$processlist',),
 ('x$ps_digest_95th_percentile_by_avg_us',),
 ('x$ps_digest_avg_latency_distribution',),
 ('x$ps_schema_table_statistics_io',),
 ('x$schema_flattened_keys',),
 ('x$schema_index_statistics',),
 ('x$schema_table_lock_waits',),
 ('x$schema_table_statistics',),
 ('x$schema_table_statistics_with_buffer',),
 ('x$schema_tables_with_full_table_scans',),
 ('x$session',),
 ('x$statement_analysis',),
 ('x$statements_with_errors_or_warnings',),
 ('x$statements_with_full_table_scans',),
 ('x$statements_with_runtimes_in_95th_percentile',),
 ('x$statements_with_sorting',),
 ('x$statements_with_temp_tables',),
 ('x$user_summary',),
 ('x$user_summary_by_file_io',),
 ('x$user_summary_by_file_io_type',),
 ('x$user_summary_by_stages',),
 ('x$user_summary_by_statement_latency',),
 ('x$user_summary_by_statement_type',),
 ('x$wait_classes_global_by_avg_latency',),
 ('x$wait_classes_global_by_latency',),
 ('x$waits_by_host_by_latency',),
 ('x$waits_by_user_by_latency',),
 ('x$waits_global_by_latency',))

In [ ]:
print(df['Date'].is_unique)

True

In [ ]:
# Check if the row already exists
cur.execute("SELECT * FROM Date_Dimension_Tab")
result = cur.fetchone()
print(result)

None

In [ ]:
data = []
for index, row in df.iterrows():
    date = row['Date']
    year = pd.to_datetime(date).year
    month = pd.to_datetime(date).month
    day = pd.to_datetime(date).day
    weekday = pd.to_datetime(date).strftime('%A')
    holiday = False
    season = 'Unknown'
    cur.execute("SELECT date_key FROM Date_Dimension_Tab WHERE date = %s", (date,))
    existing_row = cur.fetchone()
    if existing_row:
        date_key = existing_row[0]
    else:
        print(f"Inserting row for {date}")
        cur.execute("INSERT INTO Date_Dimension_Tab (date, year, month, day, weekday, holiday, season) VALUES (%s, %s, %s, %s, %s, %s, %s)", (date, year, month, day, weekday, holiday, season))
        db.commit()
        cur.execute("SELECT date_key FROM Date_Dimension_Tab WHERE date = %s", (date,))
        date_key = cur.fetchone()[0]

    open_price = row['Open']
    high_price = row['High']
    low_price = row['Low']
    close_price = row['Close']
    volume = row['Total Trade Quantity']
    data.append((date_key, open_price, high_price, low_price, close_price, volume))

# Insert data into Stock Price Fact table
if data:
    query = "INSERT INTO Stock_Price_Fact_Tab (date_key, open_price, high_price, low_price, close_price, volume) VALUES (%s, %s, %s, %s, %s, %s)"
    cur.executemany(query, data)
    db.commit()

# Close the database connection and cursor

Inserting row for 2023-05-08
Inserting row for 2023-05-05
Inserting row for 2023-04-28
Inserting row for 2023-04-21
Inserting row for 2023-04-14
Inserting row for 2023-04-06
Inserting row for 2023-03-31
Inserting row for 2023-03-24
Inserting row for 2023-03-17
Inserting row for 2023-03-10
Inserting row for 2023-03-03
Inserting row for 2023-02-24
Inserting row for 2023-02-17
Inserting row for 2023-02-10
Inserting row for 2023-02-03
Inserting row for 2023-01-27
Inserting row for 2023-01-20
Inserting row for 2023-01-13
Inserting row for 2023-01-06
Inserting row for 2022-12-30
Inserting row for 2022-12-23
Inserting row for 2022-12-16
Inserting row for 2022-12-09
Inserting row for 2022-12-02
Inserting row for 2022-11-25
Inserting row for 2022-11-18
Inserting row for 2022-11-11
Inserting row for 2022-11-04
Inserting row for 2022-10-28
Inserting row for 2022-10-21
Inserting row for 2022-10-14
Inserting row for 2022-10-07
Inserting row for 2022-09-30
Inserting row for 2022-09-23
Inserting row for 2022-09-16
Inserting row for 2022-09-09
Inserting row for 2022-09-02
Inserting row for 2022-08-26
Inserting row for 2022-08-19
Inserting row for 2022-08-12
Inserting row for 2022-08-05
Inserting row for 2022-07-29
Inserting row for 2022-07-22
Inserting row for 2022-07-15
Inserting row for 2022-07-08
Inserting row for 2022-07-01
Inserting row for 2022-06-24
Inserting row for 2022-06-17
Inserting row for 2022-06-10
Inserting row for 2022-06-03
Inserting row for 2022-05-27
Inserting row for 2022-05-20
Inserting row for 2022-05-13
Inserting row for 2022-05-06
Inserting row for 2022-04-29
Inserting row for 2022-04-22
Inserting row for 2022-04-14
Inserting row for 2022-04-08
Inserting row for 2022-04-01
Inserting row for 2022-03-25
Inserting row for 2022-03-18
Inserting row for 2022-03-11
Inserting row for 2022-03-04
Inserting row for 2022-02-25
Inserting row for 2022-02-18
Inserting row for 2022-02-11
Inserting row for 2022-02-04
Inserting row for 2022-01-28
Inserting row for 2022-01-21
Inserting row for 2022-01-14
Inserting row for 2022-01-07
Inserting row for 2021-12-31
Inserting row for 2021-12-23
Inserting row for 2021-12-17
Inserting row for 2021-12-10
Inserting row for 2021-12-03
Inserting row for 2021-11-26
Inserting row for 2021-11-19
Inserting row for 2021-11-12
Inserting row for 2021-11-05
Inserting row for 2021-10-29
Inserting row for 2021-10-22
Inserting row for 2021-10-15
Inserting row for 2021-10-08
Inserting row for 2021-10-01
Inserting row for 2021-09-24
Inserting row for 2021-09-17
Inserting row for 2021-09-10
Inserting row for 2021-09-03
Inserting row for 2021-08-27
Inserting row for 2021-08-20
Inserting row for 2021-08-13
Inserting row for 2021-08-06
Inserting row for 2021-07-30
Inserting row for 2021-07-23
Inserting row for 2021-07-16
Inserting row for 2021-07-09
Inserting row for 2021-07-02
Inserting row for 2021-06-25
Inserting row for 2021-06-18
Inserting row for 2021-06-11
Inserting row for 2021-06-04
Inserting row for 2021-05-28
Inserting row for 2021-05-21
Inserting row for 2021-05-14
Inserting row for 2021-05-07
Inserting row for 2021-04-30
Inserting row for 2021-04-23
Inserting row for 2021-04-16
Inserting row for 2021-04-09
Inserting row for 2021-04-01
Inserting row for 2021-03-26
Inserting row for 2021-03-19
Inserting row for 2021-03-12
Inserting row for 2021-03-05
Inserting row for 2021-02-26
Inserting row for 2021-02-19
Inserting row for 2021-02-12
Inserting row for 2021-02-05
Inserting row for 2021-01-29
Inserting row for 2021-01-22
Inserting row for 2021-01-15
Inserting row for 2021-01-08
Inserting row for 2020-12-31
Inserting row for 2020-12-24
Inserting row for 2020-12-18
Inserting row for 2020-12-11
Inserting row for 2020-12-04
Inserting row for 2020-11-27
Inserting row for 2020-11-20
Inserting row for 2020-11-13
Inserting row for 2020-11-06
Inserting row for 2020-10-30
Inserting row for 2020-10-23
Inserting row for 2020-10-16
Inserting row for 2020-10-09
Inserting row for 2020-10-02
Inserting row for 2020-09-25
Inserting row for 2020-09-18
Inserting row for 2020-09-11
Inserting row for 2020-09-04
Inserting row for 2020-08-28
Inserting row for 2020-08-21
Inserting row for 2020-08-14
Inserting row for 2020-08-07
Inserting row for 2020-07-31
Inserting row for 2020-07-24
Inserting row for 2020-07-17
Inserting row for 2020-07-10
Inserting row for 2020-07-02
Inserting row for 2020-06-26
Inserting row for 2020-06-19
Inserting row for 2020-06-12
Inserting row for 2020-06-05
Inserting row for 2020-05-29
Inserting row for 2020-05-22
Inserting row for 2020-05-15
Inserting row for 2020-05-08
Inserting row for 2020-05-01
Inserting row for 2020-04-24
Inserting row for 2020-04-17
Inserting row for 2020-04-09
Inserting row for 2020-04-03
Inserting row for 2020-03-27
Inserting row for 2020-03-20
Inserting row for 2020-03-13
Inserting row for 2020-03-06
Inserting row for 2020-02-28
Inserting row for 2020-02-21
Inserting row for 2020-02-14
Inserting row for 2020-02-07
Inserting row for 2020-01-31
Inserting row for 2020-01-24
Inserting row for 2020-01-17
Inserting row for 2020-01-10
Inserting row for 2020-01-03
Inserting row for 2019-12-27
Inserting row for 2019-12-20
Inserting row for 2019-12-13
Inserting row for 2019-12-06
Inserting row for 2019-11-29
Inserting row for 2019-11-22
Inserting row for 2019-11-15
Inserting row for 2019-11-08
Inserting row for 2019-11-01
Inserting row for 2019-10-25
Inserting row for 2019-10-18
Inserting row for 2019-10-11
Inserting row for 2019-10-04
Inserting row for 2019-09-27
Inserting row for 2019-09-20
Inserting row for 2019-09-13
Inserting row for 2019-09-06
Inserting row for 2019-08-30
Inserting row for 2019-08-23
Inserting row for 2019-08-16
Inserting row for 2019-08-09
Inserting row for 2019-08-02
Inserting row for 2019-07-26
Inserting row for 2019-07-19
Inserting row for 2019-07-12
Inserting row for 2019-07-05
Inserting row for 2019-06-28
Inserting row for 2019-06-21
Inserting row for 2019-06-14
Inserting row for 2019-06-07
Inserting row for 2019-05-31
Inserting row for 2019-05-24
Inserting row for 2019-05-17
Inserting row for 2019-05-10
Inserting row for 2019-05-03
Inserting row for 2019-04-26
Inserting row for 2019-04-18
Inserting row for 2019-04-12
Inserting row for 2019-04-05
Inserting row for 2019-03-29
Inserting row for 2019-03-22
Inserting row for 2019-03-15
Inserting row for 2019-03-08
Inserting row for 2019-03-01
Inserting row for 2019-02-22
Inserting row for 2019-02-15
Inserting row for 2019-02-08
Inserting row for 2019-02-01
Inserting row for 2019-01-25
Inserting row for 2019-01-18
Inserting row for 2019-01-11
Inserting row for 2019-01-04
Inserting row for 2018-12-28
Inserting row for 2018-12-21
Inserting row for 2018-12-14
Inserting row for 2018-12-07
Inserting row for 2018-11-30
Inserting row for 2018-11-23
Inserting row for 2018-11-16
Inserting row for 2018-11-09
Inserting row for 2018-11-02
Inserting row for 2018-10-26
Inserting row for 2018-10-19
Inserting row for 2018-10-12
Inserting row for 2018-10-05
Inserting row for 2018-09-28
Inserting row for 2018-09-21
Inserting row for 2018-09-14
Inserting row for 2018-09-07
Inserting row for 2018-08-31
Inserting row for 2018-08-24
Inserting row for 2018-08-17
Inserting row for 2018-08-10
Inserting row for 2018-08-03
Inserting row for 2018-07-27
Inserting row for 2018-07-20
Inserting row for 2018-07-13
Inserting row for 2018-07-06
Inserting row for 2018-06-29
Inserting row for 2018-06-22
Inserting row for 2018-06-15
Inserting row for 2018-06-08
Inserting row for 2018-06-01
Inserting row for 2018-05-25
Inserting row for 2018-05-18
Inserting row for 2018-05-11
Inserting row for 2018-05-04
Inserting row for 2018-04-27
Inserting row for 2018-04-20
Inserting row for 2018-04-13
Inserting row for 2018-04-06
Inserting row for 2018-03-29
Inserting row for 2018-03-23
Inserting row for 2018-03-16
Inserting row for 2018-03-09
Inserting row for 2018-03-02
Inserting row for 2018-02-23
Inserting row for 2018-02-16
Inserting row for 2018-02-09
Inserting row for 2018-02-02
Inserting row for 2018-01-26
Inserting row for 2018-01-19
Inserting row for 2018-01-12
Inserting row for 2018-01-05
Inserting row for 2017-12-29
Inserting row for 2017-12-22
Inserting row for 2017-12-15
Inserting row for 2017-12-08
Inserting row for 2017-12-01
Inserting row for 2017-11-24
Inserting row for 2017-11-17
Inserting row for 2017-11-10
Inserting row for 2017-11-03
Inserting row for 2017-10-27
Inserting row for 2017-10-20
Inserting row for 2017-10-13
Inserting row for 2017-10-06
Inserting row for 2017-09-29
Inserting row for 2017-09-22
Inserting row for 2017-09-15
Inserting row for 2017-09-08
Inserting row for 2017-09-01
Inserting row for 2017-08-25
Inserting row for 2017-08-18
Inserting row for 2017-08-11
Inserting row for 2017-08-04
Inserting row for 2017-07-28
Inserting row for 2017-07-21
Inserting row for 2017-07-14
Inserting row for 2017-07-07
Inserting row for 2017-06-30
Inserting row for 2017-06-23
Inserting row for 2017-06-16
Inserting row for 2017-06-09
Inserting row for 2017-06-02
Inserting row for 2017-05-26
Inserting row for 2017-05-19
Inserting row for 2017-05-12
Inserting row for 2017-05-05
Inserting row for 2017-04-28
Inserting row for 2017-04-21
Inserting row for 2017-04-13
Inserting row for 2017-04-07
Inserting row for 2017-03-31
Inserting row for 2017-03-24
Inserting row for 2017-03-17
Inserting row for 2017-03-10
Inserting row for 2017-03-03
Inserting row for 2017-02-24
Inserting row for 2017-02-17
Inserting row for 2017-02-10
Inserting row for 2017-02-03
Inserting row for 2017-01-27
Inserting row for 2017-01-20
Inserting row for 2017-01-13
Inserting row for 2017-01-06
Inserting row for 2016-12-30
Inserting row for 2016-12-23
Inserting row for 2016-12-16
Inserting row for 2016-12-09
Inserting row for 2016-12-02
Inserting row for 2016-11-25
Inserting row for 2016-11-18
Inserting row for 2016-11-11
Inserting row for 2016-11-04
Inserting row for 2016-10-28
Inserting row for 2016-10-21
Inserting row for 2016-10-14
Inserting row for 2016-10-07
Inserting row for 2016-09-30
Inserting row for 2016-09-23
Inserting row for 2016-09-16
Inserting row for 2016-09-09
Inserting row for 2016-09-02
Inserting row for 2016-08-26
Inserting row for 2016-08-19
Inserting row for 2016-08-12
Inserting row for 2016-08-05
Inserting row for 2016-07-29
Inserting row for 2016-07-22
Inserting row for 2016-07-15
Inserting row for 2016-07-08
Inserting row for 2016-07-01
Inserting row for 2016-06-24
Inserting row for 2016-06-17
Inserting row for 2016-06-10
Inserting row for 2016-06-03
Inserting row for 2016-05-27
Inserting row for 2016-05-20
Inserting row for 2016-05-13
Inserting row for 2016-05-06
Inserting row for 2016-04-29
Inserting row for 2016-04-22
Inserting row for 2016-04-15
Inserting row for 2016-04-08
Inserting row for 2016-04-01
Inserting row for 2016-03-24
Inserting row for 2016-03-18
Inserting row for 2016-03-11
Inserting row for 2016-03-04
Inserting row for 2016-02-26
Inserting row for 2016-02-19
Inserting row for 2016-02-12
Inserting row for 2016-02-05
Inserting row for 2016-01-29
Inserting row for 2016-01-22
Inserting row for 2016-01-15
Inserting row for 2016-01-08
Inserting row for 2015-12-31
Inserting row for 2015-12-24
Inserting row for 2015-12-18
Inserting row for 2015-12-11
Inserting row for 2015-12-04
Inserting row for 2015-11-27
Inserting row for 2015-11-20
Inserting row for 2015-11-13
Inserting row for 2015-11-06
Inserting row for 2015-10-30
Inserting row for 2015-10-23
Inserting row for 2015-10-16
Inserting row for 2015-10-09
Inserting row for 2015-10-02
Inserting row for 2015-09-25
Inserting row for 2015-09-18
Inserting row for 2015-09-11
Inserting row for 2015-09-04
Inserting row for 2015-08-28
Inserting row for 2015-08-21
Inserting row for 2015-08-14
Inserting row for 2015-08-07
Inserting row for 2015-07-31
Inserting row for 2015-07-24
Inserting row for 2015-07-17
Inserting row for 2015-07-10
Inserting row for 2015-07-02
Inserting row for 2015-06-26
Inserting row for 2015-06-19
Inserting row for 2015-06-12
Inserting row for 2015-06-05
Inserting row for 2015-05-29
Inserting row for 2015-05-22
Inserting row for 2015-05-15
Inserting row for 2015-05-08
Inserting row for 2015-05-01
Inserting row for 2015-04-24
Inserting row for 2015-04-17
Inserting row for 2015-04-10
Inserting row for 2015-04-02
Inserting row for 2015-03-27
Inserting row for 2015-03-20
Inserting row for 2015-03-13
Inserting row for 2015-03-06
Inserting row for 2015-02-27
Inserting row for 2015-02-20
Inserting row for 2015-02-13
Inserting row for 2015-02-06
Inserting row for 2015-01-30
Inserting row for 2015-01-23
Inserting row for 2015-01-16
Inserting row for 2015-01-09
Inserting row for 2015-01-02
Inserting row for 2014-12-26
Inserting row for 2014-12-19
Inserting row for 2014-12-12
Inserting row for 2014-12-05
Inserting row for 2014-11-28
Inserting row for 2014-11-21
Inserting row for 2014-11-14
Inserting row for 2014-11-07
Inserting row for 2014-10-31
Inserting row for 2014-10-24
Inserting row for 2014-10-17
Inserting row for 2014-10-10
Inserting row for 2014-10-03
Inserting row for 2014-09-26
Inserting row for 2014-09-19
Inserting row for 2014-09-12
Inserting row for 2014-09-05
Inserting row for 2014-08-29
Inserting row for 2014-08-22
Inserting row for 2014-08-15
Inserting row for 2014-08-08
Inserting row for 2014-08-01
Inserting row for 2014-07-25
Inserting row for 2014-07-18
Inserting row for 2014-07-11
Inserting row for 2014-07-03
Inserting row for 2014-06-27
Inserting row for 2014-06-20
Inserting row for 2014-06-13
Inserting row for 2014-06-06
Inserting row for 2014-05-30
Inserting row for 2014-05-23
Inserting row for 2014-05-16
Inserting row for 2014-05-09
Inserting row for 2014-05-02
Inserting row for 2014-04-25
Inserting row for 2014-04-17
Inserting row for 2014-04-11
Inserting row for 2014-04-04
Inserting row for 2014-03-28
Inserting row for 2014-03-21
Inserting row for 2014-03-14
Inserting row for 2014-03-07
Inserting row for 2014-02-28
Inserting row for 2014-02-21
Inserting row for 2014-02-14
Inserting row for 2014-02-07
Inserting row for 2014-01-31
Inserting row for 2014-01-24
Inserting row for 2014-01-17
Inserting row for 2014-01-10
Inserting row for 2014-01-03
Inserting row for 2013-12-27
Inserting row for 2013-12-20
Inserting row for 2013-12-13
Inserting row for 2013-12-06
Inserting row for 2013-11-29
Inserting row for 2013-11-22
Inserting row for 2013-11-15
Inserting row for 2013-11-08
Inserting row for 2013-11-01
Inserting row for 2013-10-25
Inserting row for 2013-10-18
Inserting row for 2013-10-11
Inserting row for 2013-10-04
Inserting row for 2013-09-27
Inserting row for 2013-09-20
Inserting row for 2013-09-13
Inserting row for 2013-09-06
Inserting row for 2013-08-30
Inserting row for 2013-08-23
Inserting row for 2013-08-16
Inserting row for 2013-08-09
Inserting row for 2013-08-02
Inserting row for 2013-07-26
Inserting row for 2013-07-19
Inserting row for 2013-07-12
Inserting row for 2013-07-05
Inserting row for 2013-06-28
Inserting row for 2013-06-21
Inserting row for 2013-06-14
Inserting row for 2013-06-07
Inserting row for 2013-05-31
Inserting row for 2013-05-24
Inserting row for 2013-05-17
Inserting row for 2013-05-10
Inserting row for 2013-05-03
Inserting row for 2013-04-26
Inserting row for 2013-04-19
Inserting row for 2013-04-12
Inserting row for 2013-04-05
Inserting row for 2013-03-28
Inserting row for 2013-03-22
Inserting row for 2013-03-15
Inserting row for 2013-03-08
Inserting row for 2013-03-01
Inserting row for 2013-02-22
Inserting row for 2013-02-15
Inserting row for 2013-02-08
Inserting row for 2013-02-01
Inserting row for 2013-01-25
Inserting row for 2013-01-18
Inserting row for 2013-01-11
Inserting row for 2013-01-04
Inserting row for 2012-12-28
Inserting row for 2012-12-21
Inserting row for 2012-12-14
Inserting row for 2012-12-07
Inserting row for 2012-11-30
Inserting row for 2012-11-23
Inserting row for 2012-11-16
Inserting row for 2012-11-09
Inserting row for 2012-11-02
Inserting row for 2012-10-26
Inserting row for 2012-10-19
Inserting row for 2012-10-12
Inserting row for 2012-10-05
Inserting row for 2012-09-28
Inserting row for 2012-09-21
Inserting row for 2012-09-14
Inserting row for 2012-09-07
Inserting row for 2012-08-31
Inserting row for 2012-08-24
Inserting row for 2012-08-17
Inserting row for 2012-08-10
Inserting row for 2012-08-03
Inserting row for 2012-07-27
Inserting row for 2012-07-20
Inserting row for 2012-07-13
Inserting row for 2012-07-06
Inserting row for 2012-06-29
Inserting row for 2012-06-22
Inserting row for 2012-06-15
Inserting row for 2012-06-08
Inserting row for 2012-06-01
Inserting row for 2012-05-25
Inserting row for 2012-05-18
Inserting row for 2012-05-11
Inserting row for 2012-05-04
Inserting row for 2012-04-27
Inserting row for 2012-04-20
Inserting row for 2012-04-13
Inserting row for 2012-04-05
Inserting row for 2012-03-30
Inserting row for 2012-03-23
Inserting row for 2012-03-16
Inserting row for 2012-03-09
Inserting row for 2012-03-02
Inserting row for 2012-02-24
Inserting row for 2012-02-17
Inserting row for 2012-02-10
Inserting row for 2012-02-03
Inserting row for 2012-01-27
Inserting row for 2012-01-20
Inserting row for 2012-01-13
Inserting row for 2012-01-06
Inserting row for 2011-12-30
Inserting row for 2011-12-23
Inserting row for 2011-12-16
Inserting row for 2011-12-09
Inserting row for 2011-12-02
Inserting row for 2011-11-25
Inserting row for 2011-11-18
Inserting row for 2011-11-11
Inserting row for 2011-11-04
Inserting row for 2011-10-28
Inserting row for 2011-10-21
Inserting row for 2011-10-14
Inserting row for 2011-10-07
Inserting row for 2011-09-30
Inserting row for 2011-09-23
Inserting row for 2011-09-16
Inserting row for 2011-09-09
Inserting row for 2011-09-02
Inserting row for 2011-08-26
Inserting row for 2011-08-19
Inserting row for 2011-08-12
Inserting row for 2011-08-05
Inserting row for 2011-07-29
Inserting row for 2011-07-22
Inserting row for 2011-07-15
Inserting row for 2011-07-08
Inserting row for 2011-07-01
Inserting row for 2011-06-24
Inserting row for 2011-06-17
Inserting row for 2011-06-10
Inserting row for 2011-06-03
Inserting row for 2011-05-27
Inserting row for 2011-05-20
Inserting row for 2011-05-13
Inserting row for 2011-05-06
Inserting row for 2011-04-29
Inserting row for 2011-04-21
Inserting row for 2011-04-15
Inserting row for 2011-04-08
Inserting row for 2011-04-01
Inserting row for 2011-03-25
Inserting row for 2011-03-18
Inserting row for 2011-03-11
Inserting row for 2011-03-04
Inserting row for 2011-02-25
Inserting row for 2011-02-18
Inserting row for 2011-02-11
Inserting row for 2011-02-04
Inserting row for 2011-01-28
Inserting row for 2011-01-21
Inserting row for 2011-01-14
Inserting row for 2011-01-07
Inserting row for 2010-12-31
Inserting row for 2010-12-23
Inserting row for 2010-12-17
Inserting row for 2010-12-10
Inserting row for 2010-12-03
Inserting row for 2010-11-26
Inserting row for 2010-11-19
Inserting row for 2010-11-12
Inserting row for 2010-11-05
Inserting row for 2010-10-29
Inserting row for 2010-10-22
Inserting row for 2010-10-15
Inserting row for 2010-10-08
Inserting row for 2010-10-01
Inserting row for 2010-09-24
Inserting row for 2010-09-17
Inserting row for 2010-09-10
Inserting row for 2010-09-03
Inserting row for 2010-08-27
Inserting row for 2010-08-20
Inserting row for 2010-08-13
Inserting row for 2010-08-06
Inserting row for 2010-07-30
Inserting row for 2010-07-23
Inserting row for 2010-07-16
Inserting row for 2010-07-09
Inserting row for 2010-07-02
Inserting row for 2010-06-25
Inserting row for 2010-06-18
Inserting row for 2010-06-11
Inserting row for 2010-06-04
Inserting row for 2010-05-28
Inserting row for 2010-05-21
Inserting row for 2010-05-14
Inserting row for 2010-05-07
Inserting row for 2010-04-30
Inserting row for 2010-04-23
Inserting row for 2010-04-16
Inserting row for 2010-04-09
Inserting row for 2010-04-01
Inserting row for 2010-03-26
Inserting row for 2010-03-19
Inserting row for 2010-03-12
Inserting row for 2010-03-05

In [ ]:
# Check if the row already exists
cur.execute("SELECT * FROM Stock_Price_Fact_Tab")
for row in cur.fetchall():
    print(row)

(1229, Decimal('123.76'), Decimal('123.92'), Decimal('122.55'), Decimal('123.40'), 3657686)
(1230, Decimal('126.35'), Decimal('126.75'), Decimal('121.76'), Decimal('123.65'), 21164660)
(1231, Decimal('125.55'), Decimal('127.25'), Decimal('124.56'), Decimal('126.41'), 20644224)
(1232, Decimal('128.30'), Decimal('130.98'), Decimal('125.27'), Decimal('125.73'), 30341128)
(1233, Decimal('129.83'), Decimal('131.11'), Decimal('126.00'), Decimal('128.14'), 19506500)
(1234, Decimal('130.97'), Decimal('132.61'), Decimal('130.32'), Decimal('130.50'), 13172262)
(1235, Decimal('126.47'), Decimal('131.48'), Decimal('126.47'), Decimal('131.09'), 20779522)
(1236, Decimal('124.31'), Decimal('127.22'), Decimal('122.60'), Decimal('125.29'), 20458253)
(1237, Decimal('125.15'), Decimal('128.19'), Decimal('121.71'), Decimal('123.69'), 66132690)
(1238, Decimal('129.64'), Decimal('130.86'), Decimal('125.13'), Decimal('125.45'), 20761401)
(1239, Decimal('131.42'), Decimal('131.87'), Decimal('127.71'), Decimal('129.64'), 17865677)
(1240, Decimal('134.00'), Decimal('134.39'), Decimal('128.86'), Decimal('130.57'), 14198950)
(1241, Decimal('136.00'), Decimal('137.39'), Decimal('133.89'), Decimal('135.02'), 16543870)
(1242, Decimal('135.83'), Decimal('136.74'), Decimal('133.34'), Decimal('135.60'), 22140989)
(1243, Decimal('134.32'), Decimal('136.95'), Decimal('132.80'), Decimal('136.94'), 27874571)
(1244, Decimal('141.40'), Decimal('142.99'), Decimal('132.98'), Decimal('134.39'), 43345140)
(1245, Decimal('146.42'), Decimal('147.18'), Decimal('139.75'), Decimal('141.20'), 21419368)
(1246, Decimal('144.08'), Decimal('146.66'), Decimal('142.90'), Decimal('145.89'), 14580596)
(1247, Decimal('141.10'), Decimal('144.25'), Decimal('140.01'), Decimal('143.70'), 13648755)
(1248, Decimal('141.73'), Decimal('142.81'), Decimal('139.45'), Decimal('140.89'), 10477419)
(1249, Decimal('140.16'), Decimal('143.09'), Decimal('137.20'), Decimal('141.65'), 19663576)
(1250, Decimal('147.82'), Decimal('153.21'), Decimal('138.97'), Decimal('140.16'), 33572382)
(1251, Decimal('147.94'), Decimal('149.15'), Decimal('146.29'), Decimal('147.05'), 15316930)
(1252, Decimal('147.98'), Decimal('150.01'), Decimal('145.67'), Decimal('148.67'), 20066941)
(1253, Decimal('147.55'), Decimal('150.46'), Decimal('146.45'), Decimal('148.37'), 16271883)
(1254, Decimal('142.63'), Decimal('148.31'), Decimal('142.00'), Decimal('147.64'), 22034930)
(1255, Decimal('136.64'), Decimal('144.13'), Decimal('136.51'), Decimal('143.17'), 25066114)
(1256, Decimal('138.06'), Decimal('140.17'), Decimal('133.97'), Decimal('136.96'), 22491556)
(1257, Decimal('130.90'), Decimal('138.86'), Decimal('129.85'), Decimal('138.51'), 26667185)
(1258, Decimal('121.80'), Decimal('130.85'), Decimal('121.43'), Decimal('129.90'), 37309868)
(1259, Decimal('119.79'), Decimal('122.54'), Decimal('115.55'), Decimal('120.04'), 22973512)
(1260, Decimal('120.16'), Decimal('126.46'), Decimal('118.07'), Decimal('118.82'), 21614952)
(1261, Decimal('122.30'), Decimal('124.26'), Decimal('118.61'), Decimal('118.81'), 22265241)
(1262, Decimal('126.49'), Decimal('128.06'), Decimal('121.74'), Decimal('122.71'), 19442664)
(1263, Decimal('130.33'), Decimal('130.99'), Decimal('123.83'), Decimal('127.27'), 27107187)
(1264, Decimal('127.80'), Decimal('129.49'), Decimal('126.28'), Decimal('129.19'), 12004834)
(1265, Decimal('129.99'), Decimal('131.42'), Decimal('127.24'), Decimal('127.79'), 15086608)
(1266, Decimal('137.65'), Decimal('137.85'), Decimal('130.34'), Decimal('130.38'), 16982107)
(1267, Decimal('132.96'), Decimal('139.34'), Decimal('132.24'), Decimal('138.37'), 17105977)
(1268, Decimal('133.10'), Decimal('134.09'), Decimal('129.12'), Decimal('134.01'), 17254110)
(1269, Decimal('130.75'), Decimal('132.86'), Decimal('130.51'), Decimal('132.48'), 17400572)
(1270, Decimal('128.44'), Decimal('131.00'), Decimal('127.58'), Decimal('130.79'), 22223785)
(1271, Decimal('140.15'), Decimal('140.31'), Decimal('125.13'), Decimal('128.25'), 66246811)
(1272, Decimal('140.62'), Decimal('141.87'), Decimal('135.02'), Decimal('139.92'), 21089228)
(1273, Decimal('139.97'), Decimal('141.33'), Decimal('135.27'), Decimal('140.47'), 16229131)
(1274, Decimal('142.26'), Decimal('144.16'), Decimal('139.26'), Decimal('141.12'), 21052787)
(1275, Decimal('135.90'), Decimal('142.37'), Decimal('135.90'), Decimal('142.06'), 23921844)
(1276, Decimal('133.97'), Decimal('138.45'), Decimal('132.85'), Decimal('135.02'), 34055621)
(1277, Decimal('142.98'), Decimal('144.73'), Decimal('135.25'), Decimal('136.19'), 18914084)
(1278, Decimal('138.20'), Decimal('142.58'), Decimal('136.81'), Decimal('141.18'), 19861566)
(1279, Decimal('129.50'), Decimal('139.74'), Decimal('129.42'), Decimal('139.27'), 19618090)
(1280, Decimal('133.10'), Decimal('138.37'), Decimal('125.80'), Decimal('128.48'), 27360441)
(1281, Decimal('134.41'), Decimal('136.35'), Decimal('128.43'), Decimal('133.60'), 31171489)
(1282, Decimal('133.00'), Decimal('137.99'), Decimal('130.89'), Decimal('137.67'), 27079586)
(1283, Decimal('137.59'), Decimal('139.87'), Decimal('132.00'), Decimal('132.21'), 24560464)
(1284, Decimal('126.60'), Decimal('141.88'), Decimal('125.53'), Decimal('138.25'), 47056765)
(1285, Decimal('127.95'), Decimal('130.58'), Decimal('124.91'), Decimal('126.56'), 15342641)
(1286, Decimal('130.26'), Decimal('131.23'), Decimal('126.73'), Decimal('127.73'), 16553021)
(1287, Decimal('130.82'), Decimal('133.08'), Decimal('128.06'), Decimal('130.15'), 19183786)
(1288, Decimal('129.00'), Decimal('131.40'), Decimal('127.40'), Decimal('131.35'), 15440952)
(1289, Decimal('124.45'), Decimal('128.93'), Decimal('122.69'), Decimal('128.76'), 22675632)
(1290, Decimal('126.47'), Decimal('128.35'), Decimal('123.13'), Decimal('123.96'), 23784887)
(1291, Decimal('122.21'), Decimal('127.35'), Decimal('120.70'), Decimal('126.62'), 26131658)
(1292, Decimal('124.20'), Decimal('125.00'), Decimal('118.81'), Decimal('124.18'), 20417161)
(1293, Decimal('132.59'), Decimal('132.65'), Decimal('123.61'), Decimal('124.35'), 26022824)
(1294, Decimal('137.45'), Decimal('138.35'), Decimal('132.38'), Decimal('132.69'), 23489144)
(1295, Decimal('134.09'), Decimal('138.82'), Decimal('132.30'), Decimal('137.15'), 27665550)
(1296, Decimal('127.99'), Decimal('137.34'), Decimal('124.19'), Decimal('134.50'), 52800401)
(1297, Decimal('132.95'), Decimal('133.90'), Decimal('129.27'), Decimal('129.35'), 20520487)
(1298, Decimal('134.47'), Decimal('136.20'), Decimal('127.97'), Decimal('134.21'), 32044685)
(1299, Decimal('134.07'), Decimal('142.20'), Decimal('132.51'), Decimal('134.83'), 36013766)
(1300, Decimal('130.63'), Decimal('134.99'), Decimal('129.95'), Decimal('133.66'), 18454937)
(1301, Decimal('125.72'), Decimal('130.96'), Decimal('124.70'), Decimal('130.63'), 17369625)
(1302, Decimal('123.76'), Decimal('128.64'), Decimal('120.79'), Decimal('127.40'), 35216850)
(1303, Decimal('119.40'), Decimal('125.33'), Decimal('119.40'), Decimal('124.09'), 25031512)
(1304, Decimal('118.62'), Decimal('119.61'), Decimal('116.45'), Decimal('118.84'), 36059651)
(1305, Decimal('116.00'), Decimal('118.81'), Decimal('114.56'), Decimal('115.81'), 17875027)
(1306, Decimal('119.54'), Decimal('120.16'), Decimal('115.27'), Decimal('116.05'), 24272797)
(1307, Decimal('123.99'), Decimal('124.78'), Decimal('118.78'), Decimal('118.96'), 29109912)
(1308, Decimal('125.05'), Decimal('127.29'), Decimal('119.90'), Decimal('123.61'), 29791780)
(1309, Decimal('127.53'), Decimal('128.65'), Decimal('124.62'), Decimal('125.10'), 34288134)
(1310, Decimal('144.00'), Decimal('144.94'), Decimal('126.61'), Decimal('127.88'), 59731582)
(1311, Decimal('143.50'), Decimal('144.85'), Decimal('139.66'), Decimal('144.61'), 16262687)
(1312, Decimal('142.74'), Decimal('146.00'), Decimal('140.89'), Decimal('143.22'), 27211291)
(1313, Decimal('137.96'), Decimal('143.97'), Decimal('136.44'), Decimal('143.32'), 23824191)
(1314, Decimal('133.90'), Decimal('138.48'), Decimal('132.78'), Decimal('137.49'), 18425230)
(1315, Decimal('138.40'), Decimal('138.99'), Decimal('135.05'), Decimal('135.23'), 20130213)
(1316, Decimal('139.65'), Decimal('139.79'), Decimal('137.00'), Decimal('137.02'), 13754250)
(1317, Decimal('139.50'), Decimal('140.94'), Decimal('138.82'), Decimal('139.58'), 13345045)
(1318, Decimal('139.62'), Decimal('140.80'), Decimal('138.40'), Decimal('139.41'), 12376600)
(1319, Decimal('143.23'), Decimal('143.74'), Decimal('137.21'), Decimal('139.11'), 16189007)
(1320, Decimal('142.20'), Decimal('143.58'), Decimal('140.34'), Decimal('143.18'), 18462255)
(1321, Decimal('141.45'), Decimal('144.70'), Decimal('141.03'), Decimal('144.09'), 16428567)
(1322, Decimal('141.39'), Decimal('143.64'), Decimal('140.79'), Decimal('140.96'), 16120616)
(1323, Decimal('136.45'), Decimal('144.92'), Decimal('136.21'), Decimal('141.34'), 34786264)
(1324, Decimal('141.43'), Decimal('141.96'), Decimal('138.59'), Decimal('138.90'), 18659679)
(1325, Decimal('139.99'), Decimal('141.98'), Decimal('137.10'), Decimal('141.52'), 21544898)
(1326, Decimal('147.01'), Decimal('147.50'), Decimal('139.46'), Decimal('140.02'), 29077036)
(1327, Decimal('144.11'), Decimal('147.07'), Decimal('144.06'), Decimal('146.84'), 17129373)
(1328, Decimal('150.71'), Decimal('151.03'), Decimal('143.04'), Decimal('143.12'), 23177438)
(1329, Decimal('147.55'), Decimal('152.84'), Decimal('147.17'), Decimal('151.28'), 22042806)
(1330, Decimal('145.00'), Decimal('147.55'), Decimal('143.75'), Decimal('147.42'), 12453017)
(1331, Decimal('145.06'), Decimal('145.39'), Decimal('143.04'), Decimal('143.74'), 18483838)
(1332, Decimal('144.44'), Decimal('145.80'), Decimal('140.92'), Decimal('144.74'), 20546126)
(1333, Decimal('145.80'), Decimal('148.38'), Decimal('141.14'), Decimal('144.68'), 27415665)
(1334, Decimal('143.81'), Decimal('148.52'), Decimal('143.55'), Decimal('145.46'), 31590796)
(1335, Decimal('142.42'), Decimal('148.74'), Decimal('140.55'), Decimal('141.88'), 25588990)
(1336, Decimal('133.60'), Decimal('144.74'), Decimal('132.58'), Decimal('142.43'), 47246234)
(1337, Decimal('135.02'), Decimal('135.37'), Decimal('130.38'), Decimal('133.59'), 26831249)
(1338, Decimal('133.64'), Decimal('136.69'), Decimal('133.40'), Decimal('135.73'), 19179860)
(1339, Decimal('135.98'), Decimal('137.07'), Decimal('132.27'), Decimal('133.23'), 18432506)
(1340, Decimal('128.50'), Decimal('136.48'), Decimal('127.89'), Decimal('136.38'), 23647858)
(1341, Decimal('127.77'), Decimal('131.00'), Decimal('127.34'), Decimal('128.90'), 28046462)
(1342, Decimal('122.99'), Decimal('128.64'), Decimal('122.88'), Decimal('127.61'), 29253064)
(1343, Decimal('120.35'), Decimal('123.75'), Decimal('118.76'), Decimal('122.83'), 32662092)
(1344, Decimal('118.50'), Decimal('124.35'), Decimal('118.44'), Decimal('118.93'), 30731807)
(1345, Decimal('120.15'), Decimal('120.94'), Decimal('118.38'), Decimal('118.99'), 22567552)
(1346, Decimal('122.62'), Decimal('123.98'), Decimal('120.09'), Decimal('120.80'), 24634263)
(1347, Decimal('119.90'), Decimal('121.81'), Decimal('118.12'), Decimal('121.79'), 28405606)
(1348, Decimal('118.76'), Decimal('124.79'), Decimal('117.45'), Decimal('119.11'), 56437187)
(1349, Decimal('129.28'), Decimal('132.24'), Decimal('117.36'), Decimal('118.61'), 61879427)
(1350, Decimal('127.95'), Decimal('130.16'), Decimal('126.46'), Decimal('128.39'), 29417959)
(1351, Decimal('125.85'), Decimal('131.88'), Decimal('123.04'), Decimal('128.53'), 28434389)
(1352, Decimal('125.10'), Decimal('126.60'), Decimal('123.24'), Decimal('125.88'), 14025419)
(1353, Decimal('123.97'), Decimal('125.21'), Decimal('121.72'), Decimal('124.69'), 14908439)
(1354, Decimal('125.32'), Decimal('126.57'), Decimal('123.44'), Decimal('125.85'), 25280527)
(1355, Decimal('126.49'), Decimal('127.69'), Decimal('123.61'), Decimal('124.27'), 29511629)
(1356, Decimal('124.10'), Decimal('127.38'), Decimal('122.41'), Decimal('127.20'), 24848983)
(1357, Decimal('117.43'), Decimal('125.31'), Decimal('117.27'), Decimal('124.35'), 19418148)
(1358, Decimal('118.30'), Decimal('118.88'), Decimal('115.89'), Decimal('116.94'), 22498909)
(1359, Decimal('117.88'), Decimal('119.74'), Decimal('113.48'), Decimal('116.85'), 30088820)
(1360, Decimal('112.65'), Decimal('115.65'), Decimal('111.16'), Decimal('114.04'), 25467232)
(1361, Decimal('114.45'), Decimal('114.90'), Decimal('105.92'), Decimal('111.66'), 37250916)
(1362, Decimal('126.80'), Decimal('127.35'), Decimal('112.98'), Decimal('116.00'), 50486636)
(1363, Decimal('128.07'), Decimal('128.25'), Decimal('123.85'), Decimal('125.93'), 21874963)
(1364, Decimal('121.84'), Decimal('135.50'), Decimal('121.05'), Decimal('127.79'), 43381507)
(1365, Decimal('120.57'), Decimal('123.30'), Decimal('118.82'), Decimal('120.57'), 15038264)
(1366, Decimal('120.48'), Decimal('121.59'), Decimal('116.48'), Decimal('118.95'), 18708494)
(1367, Decimal('122.36'), Decimal('125.82'), Decimal('121.76'), Decimal('122.76'), 18909398)
(1368, Decimal('122.16'), Decimal('123.70'), Decimal('120.24'), Decimal('121.46'), 16507866)
(1369, Decimal('125.25'), Decimal('129.95'), Decimal('121.24'), Decimal('122.30'), 26310920)
(1370, Decimal('123.79'), Decimal('126.82'), Decimal('123.36'), Decimal('125.07'), 16959794)
(1371, Decimal('125.25'), Decimal('125.59'), Decimal('122.31'), Decimal('123.16'), 15908978)
(1372, Decimal('125.42'), Decimal('130.47'), Decimal('123.91'), Decimal('125.27'), 18634659)
(1373, Decimal('123.50'), Decimal('126.75'), Decimal('122.15'), Decimal('124.96'), 17701697)
(1374, Decimal('124.86'), Decimal('126.34'), Decimal('121.09'), Decimal('122.94'), 20010578)
(1375, Decimal('126.07'), Decimal('132.17'), Decimal('125.14'), Decimal('125.79'), 41040414)
(1376, Decimal('119.78'), Decimal('125.63'), Decimal('117.92'), Decimal('125.11'), 21958911)
(1377, Decimal('121.25'), Decimal('121.85'), Decimal('115.20'), Decimal('118.35'), 22560031)
(1378, Decimal('117.98'), Decimal('121.42'), Decimal('117.37'), Decimal('119.70'), 16478700)
(1379, Decimal('122.12'), Decimal('122.90'), Decimal('115.88'), Decimal('117.19'), 35016186)
(1380, Decimal('119.19'), Decimal('127.50'), Decimal('118.29'), Decimal('122.47'), 24867689)
(1381, Decimal('132.27'), Decimal('135.88'), Decimal('117.84'), Decimal('121.91'), 33456639)
(1382, Decimal('124.64'), Decimal('134.23'), Decimal('124.03'), Decimal('132.06'), 19514867)
(1383, Decimal('121.30'), Decimal('126.97'), Decimal('121.01'), Decimal('124.90'), 23037728)
(1384, Decimal('119.88'), Decimal('122.47'), Decimal('117.59'), Decimal('118.39'), 19484187)
(1385, Decimal('121.81'), Decimal('124.32'), Decimal('111.81'), Decimal('116.98'), 24229073)
(1386, Decimal('120.82'), Decimal('124.32'), Decimal('119.39'), Decimal('122.99'), 21189890)
(1387, Decimal('125.56'), Decimal('129.31'), Decimal('121.39'), Decimal('121.87'), 26502989)
(1388, Decimal('119.15'), Decimal('125.00'), Decimal('112.06'), Decimal('124.72'), 41252209)
(1389, Decimal('121.63'), Decimal('125.18'), Decimal('114.42'), Decimal('120.12'), 27240371)
(1390, Decimal('110.35'), Decimal('122.92'), Decimal('110.13'), Decimal('121.50'), 23351117)
(1391, Decimal('108.09'), Decimal('113.81'), Decimal('104.52'), Decimal('106.34'), 28882211)
(1392, Decimal('94.60'), Decimal('113.15'), Decimal('90.56'), Decimal('108.03'), 39907532)
(1393, Decimal('98.00'), Decimal('107.41'), Decimal('94.71'), Decimal('95.39'), 47138046)
(1394, Decimal('120.16'), Decimal('124.88'), Decimal('100.81'), Decimal('107.95'), 55580046)
(1395, Decimal('130.75'), Decimal('136.10'), Decimal('124.52'), Decimal('127.73'), 35054761)
(1396, Decimal('145.51'), Decimal('148.05'), Decimal('126.36'), Decimal('130.15'), 38480655)
(1397, Decimal('149.79'), Decimal('151.89'), Decimal('148.84'), Decimal('149.84'), 12493166)
(1398, Decimal('152.97'), Decimal('155.60'), Decimal('149.77'), Decimal('150.70'), 23423757)
(1399, Decimal('144.25'), Decimal('158.75'), Decimal('143.90'), Decimal('153.41'), 43694755)
(1400, Decimal('138.50'), Decimal('144.05'), Decimal('134.97'), Decimal('143.73'), 34661511)
(1401, Decimal('137.81'), Decimal('145.79'), Decimal('137.60'), Decimal('140.56'), 34829367)
(1402, Decimal('135.48'), Decimal('138.33'), Decimal('135.07'), Decimal('138.31'), 20831539)
(1403, Decimal('133.42'), Decimal('137.87'), Decimal('133.20'), Decimal('136.69'), 17020619)
(1404, Decimal('135.20'), Decimal('135.92'), Decimal('132.40'), Decimal('134.34'), 13418364)
(1405, Decimal('135.78'), Decimal('136.15'), Decimal('134.61'), Decimal('135.27'), 8887084)
(1406, Decimal('134.94'), Decimal('136.42'), Decimal('133.46'), Decimal('135.59'), 20036502)
(1407, Decimal('133.35'), Decimal('135.66'), Decimal('133.26'), Decimal('134.21'), 17504239)
(1408, Decimal('134.45'), Decimal('134.50'), Decimal('130.69'), Decimal('133.22'), 17337693)
(1409, Decimal('134.47'), Decimal('136.15'), Decimal('133.03'), Decimal('134.45'), 11502959)
(1410, Decimal('134.30'), Decimal('135.38'), Decimal('132.75'), Decimal('134.34'), 16963107)
(1411, Decimal('137.20'), Decimal('137.20'), Decimal('133.33'), Decimal('134.40'), 16169172)
(1412, Decimal('136.24'), Decimal('139.14'), Decimal('136.16'), Decimal('137.61'), 17174941)
(1413, Decimal('136.00'), Decimal('136.63'), Decimal('133.20'), Decimal('135.53'), 16136475)
(1414, Decimal('132.61'), Decimal('135.93'), Decimal('130.90'), Decimal('135.44'), 19388201)
(1415, Decimal('142.31'), Decimal('143.72'), Decimal('132.25'), Decimal('134.09'), 34208011)
(1416, Decimal('142.26'), Decimal('144.50'), Decimal('138.25'), Decimal('142.76'), 14096608)
(1417, Decimal('143.73'), Decimal('147.35'), Decimal('139.18'), Decimal('142.99'), 15911420)
(1418, Decimal('141.19'), Decimal('145.09'), Decimal('140.56'), Decimal('143.24'), 12376163)
(1419, Decimal('142.56'), Decimal('145.03'), Decimal('140.51'), Decimal('141.88'), 15262993)
(1420, Decimal('140.59'), Decimal('145.46'), Decimal('140.46'), Decimal('143.67'), 17776693)
(1421, Decimal('134.85'), Decimal('141.70'), Decimal('133.33'), Decimal('140.57'), 12663912)
(1422, Decimal('131.05'), Decimal('136.07'), Decimal('129.16'), Decimal('135.53'), 16211916)
(1423, Decimal('134.88'), Decimal('136.33'), Decimal('128.83'), Decimal('129.57'), 16504912)
(1424, Decimal('135.66'), Decimal('136.57'), Decimal('130.25'), Decimal('133.76'), 20933133)
(1425, Decimal('144.98'), Decimal('145.10'), Decimal('135.35'), Decimal('136.13'), 28623442)
(1426, Decimal('151.11'), Decimal('152.95'), Decimal('145.59'), Decimal('147.25'), 22876887)
(1427, Decimal('150.16'), Decimal('151.94'), Decimal('148.38'), Decimal('151.36'), 16794485)
(1428, Decimal('142.89'), Decimal('151.58'), Decimal('141.95'), Decimal('149.68'), 31893327)
(1429, Decimal('141.05'), Decimal('142.92'), Decimal('139.13'), Decimal('142.74'), 13194248)
(1430, Decimal('139.60'), Decimal('141.82'), Decimal('139.28'), Decimal('141.38'), 9862722)
(1431, Decimal('139.20'), Decimal('140.15'), Decimal('137.84'), Decimal('137.90'), 15575818)
(1432, Decimal('135.39'), Decimal('139.54'), Decimal('134.70'), Decimal('139.20'), 15851123)
(1433, Decimal('134.38'), Decimal('136.46'), Decimal('133.91'), Decimal('135.15'), 13722199)
(1434, Decimal('127.10'), Decimal('134.72'), Decimal('127.06'), Decimal('133.31'), 16193845)
(1435, Decimal('132.13'), Decimal('132.64'), Decimal('126.85'), Decimal('126.99'), 14869322)
(1436, Decimal('133.53'), Decimal('137.06'), Decimal('130.44'), Decimal('132.28'), 15557532)
(1437, Decimal('133.28'), Decimal('136.11'), Decimal('130.96'), Decimal('134.32'), 16426011)
(1438, Decimal('138.30'), Decimal('140.69'), Decimal('132.42'), Decimal('135.32'), 19509963)
(1439, Decimal('139.15'), Decimal('141.81'), Decimal('138.68'), Decimal('140.25'), 16772230)
(1440, Decimal('139.42'), Decimal('141.31'), Decimal('137.71'), Decimal('139.44'), 16961387)
(1441, Decimal('144.40'), Decimal('145.39'), Decimal('136.26'), Decimal('140.33'), 27390537)
(1442, Decimal('143.02'), Decimal('144.44'), Decimal('141.84'), Decimal('144.35'), 13675882)
(1443, Decimal('141.51'), Decimal('144.22'), Decimal('141.51'), Decimal('143.28'), 14574262)

In [ ]:
# Check if the row already exists
cur.execute("SELECT * FROM Date_Dimension_Tab")
for row in cur.fetchall():
    print(row)

(1229, datetime.date(2023, 5, 8), 2023, 5, 8, 'Monday', 0, 'Unknown')
(1230, datetime.date(2023, 5, 5), 2023, 5, 5, 'Friday', 0, 'Unknown')
(1231, datetime.date(2023, 4, 28), 2023, 4, 28, 'Friday', 0, 'Unknown')
(1232, datetime.date(2023, 4, 21), 2023, 4, 21, 'Friday', 0, 'Unknown')
(1233, datetime.date(2023, 4, 14), 2023, 4, 14, 'Friday', 0, 'Unknown')
(1234, datetime.date(2023, 4, 6), 2023, 4, 6, 'Thursday', 0, 'Unknown')
(1235, datetime.date(2023, 3, 31), 2023, 3, 31, 'Friday', 0, 'Unknown')
(1236, datetime.date(2023, 3, 24), 2023, 3, 24, 'Friday', 0, 'Unknown')
(1237, datetime.date(2023, 3, 17), 2023, 3, 17, 'Friday', 0, 'Unknown')
(1238, datetime.date(2023, 3, 10), 2023, 3, 10, 'Friday', 0, 'Unknown')
(1239, datetime.date(2023, 3, 3), 2023, 3, 3, 'Friday', 0, 'Unknown')
(1240, datetime.date(2023, 2, 24), 2023, 2, 24, 'Friday', 0, 'Unknown')
(1241, datetime.date(2023, 2, 17), 2023, 2, 17, 'Friday', 0, 'Unknown')
(1242, datetime.date(2023, 2, 10), 2023, 2, 10, 'Friday', 0, 'Unknown')
(1243, datetime.date(2023, 2, 3), 2023, 2, 3, 'Friday', 0, 'Unknown')
(1244, datetime.date(2023, 1, 27), 2023, 1, 27, 'Friday', 0, 'Unknown')
(1245, datetime.date(2023, 1, 20), 2023, 1, 20, 'Friday', 0, 'Unknown')
(1246, datetime.date(2023, 1, 13), 2023, 1, 13, 'Friday', 0, 'Unknown')
(1247, datetime.date(2023, 1, 6), 2023, 1, 6, 'Friday', 0, 'Unknown')
(1248, datetime.date(2022, 12, 30), 2022, 12, 30, 'Friday', 0, 'Unknown')
(1249, datetime.date(2022, 12, 23), 2022, 12, 23, 'Friday', 0, 'Unknown')
(1250, datetime.date(2022, 12, 16), 2022, 12, 16, 'Friday', 0, 'Unknown')
(1251, datetime.date(2022, 12, 9), 2022, 12, 9, 'Friday', 0, 'Unknown')
(1252, datetime.date(2022, 12, 2), 2022, 12, 2, 'Friday', 0, 'Unknown')
(1253, datetime.date(2022, 11, 25), 2022, 11, 25, 'Friday', 0, 'Unknown')
(1254, datetime.date(2022, 11, 18), 2022, 11, 18, 'Friday', 0, 'Unknown')
(1255, datetime.date(2022, 11, 11), 2022, 11, 11, 'Friday', 0, 'Unknown')
(1256, datetime.date(2022, 11, 4), 2022, 11, 4, 'Friday', 0, 'Unknown')
(1257, datetime.date(2022, 10, 28), 2022, 10, 28, 'Friday', 0, 'Unknown')
(1258, datetime.date(2022, 10, 21), 2022, 10, 21, 'Friday', 0, 'Unknown')
(1259, datetime.date(2022, 10, 14), 2022, 10, 14, 'Friday', 0, 'Unknown')
(1260, datetime.date(2022, 10, 7), 2022, 10, 7, 'Friday', 0, 'Unknown')
(1261, datetime.date(2022, 9, 30), 2022, 9, 30, 'Friday', 0, 'Unknown')
(1262, datetime.date(2022, 9, 23), 2022, 9, 23, 'Friday', 0, 'Unknown')
(1263, datetime.date(2022, 9, 16), 2022, 9, 16, 'Friday', 0, 'Unknown')
(1264, datetime.date(2022, 9, 9), 2022, 9, 9, 'Friday', 0, 'Unknown')
(1265, datetime.date(2022, 9, 2), 2022, 9, 2, 'Friday', 0, 'Unknown')
(1266, datetime.date(2022, 8, 26), 2022, 8, 26, 'Friday', 0, 'Unknown')
(1267, datetime.date(2022, 8, 19), 2022, 8, 19, 'Friday', 0, 'Unknown')
(1268, datetime.date(2022, 8, 12), 2022, 8, 12, 'Friday', 0, 'Unknown')
(1269, datetime.date(2022, 8, 5), 2022, 8, 5, 'Friday', 0, 'Unknown')
(1270, datetime.date(2022, 7, 29), 2022, 7, 29, 'Friday', 0, 'Unknown')
(1271, datetime.date(2022, 7, 22), 2022, 7, 22, 'Friday', 0, 'Unknown')
(1272, datetime.date(2022, 7, 15), 2022, 7, 15, 'Friday', 0, 'Unknown')
(1273, datetime.date(2022, 7, 8), 2022, 7, 8, 'Friday', 0, 'Unknown')
(1274, datetime.date(2022, 7, 1), 2022, 7, 1, 'Friday', 0, 'Unknown')
(1275, datetime.date(2022, 6, 24), 2022, 6, 24, 'Friday', 0, 'Unknown')
(1276, datetime.date(2022, 6, 17), 2022, 6, 17, 'Friday', 0, 'Unknown')
(1277, datetime.date(2022, 6, 10), 2022, 6, 10, 'Friday', 0, 'Unknown')
(1278, datetime.date(2022, 6, 3), 2022, 6, 3, 'Friday', 0, 'Unknown')
(1279, datetime.date(2022, 5, 27), 2022, 5, 27, 'Friday', 0, 'Unknown')
(1280, datetime.date(2022, 5, 20), 2022, 5, 20, 'Friday', 0, 'Unknown')
(1281, datetime.date(2022, 5, 13), 2022, 5, 13, 'Friday', 0, 'Unknown')
(1282, datetime.date(2022, 5, 6), 2022, 5, 6, 'Friday', 0, 'Unknown')
(1283, datetime.date(2022, 4, 29), 2022, 4, 29, 'Friday', 0, 'Unknown')
(1284, datetime.date(2022, 4, 22), 2022, 4, 22, 'Friday', 0, 'Unknown')
(1285, datetime.date(2022, 4, 14), 2022, 4, 14, 'Thursday', 0, 'Unknown')
(1286, datetime.date(2022, 4, 8), 2022, 4, 8, 'Friday', 0, 'Unknown')
(1287, datetime.date(2022, 4, 1), 2022, 4, 1, 'Friday', 0, 'Unknown')
(1288, datetime.date(2022, 3, 25), 2022, 3, 25, 'Friday', 0, 'Unknown')
(1289, datetime.date(2022, 3, 18), 2022, 3, 18, 'Friday', 0, 'Unknown')
(1290, datetime.date(2022, 3, 11), 2022, 3, 11, 'Friday', 0, 'Unknown')
(1291, datetime.date(2022, 3, 4), 2022, 3, 4, 'Friday', 0, 'Unknown')
(1292, datetime.date(2022, 2, 25), 2022, 2, 25, 'Friday', 0, 'Unknown')
(1293, datetime.date(2022, 2, 18), 2022, 2, 18, 'Friday', 0, 'Unknown')
(1294, datetime.date(2022, 2, 11), 2022, 2, 11, 'Friday', 0, 'Unknown')
(1295, datetime.date(2022, 2, 4), 2022, 2, 4, 'Friday', 0, 'Unknown')
(1296, datetime.date(2022, 1, 28), 2022, 1, 28, 'Friday', 0, 'Unknown')
(1297, datetime.date(2022, 1, 21), 2022, 1, 21, 'Friday', 0, 'Unknown')
(1298, datetime.date(2022, 1, 14), 2022, 1, 14, 'Friday', 0, 'Unknown')
(1299, datetime.date(2022, 1, 7), 2022, 1, 7, 'Friday', 0, 'Unknown')
(1300, datetime.date(2021, 12, 31), 2021, 12, 31, 'Friday', 0, 'Unknown')
(1301, datetime.date(2021, 12, 23), 2021, 12, 23, 'Thursday', 0, 'Unknown')
(1302, datetime.date(2021, 12, 17), 2021, 12, 17, 'Friday', 0, 'Unknown')
(1303, datetime.date(2021, 12, 10), 2021, 12, 10, 'Friday', 0, 'Unknown')
(1304, datetime.date(2021, 12, 3), 2021, 12, 3, 'Friday', 0, 'Unknown')
(1305, datetime.date(2021, 11, 26), 2021, 11, 26, 'Friday', 0, 'Unknown')
(1306, datetime.date(2021, 11, 19), 2021, 11, 19, 'Friday', 0, 'Unknown')
(1307, datetime.date(2021, 11, 12), 2021, 11, 12, 'Friday', 0, 'Unknown')
(1308, datetime.date(2021, 11, 5), 2021, 11, 5, 'Friday', 0, 'Unknown')
(1309, datetime.date(2021, 10, 29), 2021, 10, 29, 'Friday', 0, 'Unknown')
(1310, datetime.date(2021, 10, 22), 2021, 10, 22, 'Friday', 0, 'Unknown')
(1311, datetime.date(2021, 10, 15), 2021, 10, 15, 'Friday', 0, 'Unknown')
(1312, datetime.date(2021, 10, 8), 2021, 10, 8, 'Friday', 0, 'Unknown')
(1313, datetime.date(2021, 10, 1), 2021, 10, 1, 'Friday', 0, 'Unknown')
(1314, datetime.date(2021, 9, 24), 2021, 9, 24, 'Friday', 0, 'Unknown')
(1315, datetime.date(2021, 9, 17), 2021, 9, 17, 'Friday', 0, 'Unknown')
(1316, datetime.date(2021, 9, 10), 2021, 9, 10, 'Friday', 0, 'Unknown')
(1317, datetime.date(2021, 9, 3), 2021, 9, 3, 'Friday', 0, 'Unknown')
(1318, datetime.date(2021, 8, 27), 2021, 8, 27, 'Friday', 0, 'Unknown')
(1319, datetime.date(2021, 8, 20), 2021, 8, 20, 'Friday', 0, 'Unknown')
(1320, datetime.date(2021, 8, 13), 2021, 8, 13, 'Friday', 0, 'Unknown')
(1321, datetime.date(2021, 8, 6), 2021, 8, 6, 'Friday', 0, 'Unknown')
(1322, datetime.date(2021, 7, 30), 2021, 7, 30, 'Friday', 0, 'Unknown')
(1323, datetime.date(2021, 7, 23), 2021, 7, 23, 'Friday', 0, 'Unknown')
(1324, datetime.date(2021, 7, 16), 2021, 7, 16, 'Friday', 0, 'Unknown')
(1325, datetime.date(2021, 7, 9), 2021, 7, 9, 'Friday', 0, 'Unknown')
(1326, datetime.date(2021, 7, 2), 2021, 7, 2, 'Friday', 0, 'Unknown')
(1327, datetime.date(2021, 6, 25), 2021, 6, 25, 'Friday', 0, 'Unknown')
(1328, datetime.date(2021, 6, 18), 2021, 6, 18, 'Friday', 0, 'Unknown')
(1329, datetime.date(2021, 6, 11), 2021, 6, 11, 'Friday', 0, 'Unknown')
(1330, datetime.date(2021, 6, 4), 2021, 6, 4, 'Friday', 0, 'Unknown')
(1331, datetime.date(2021, 5, 28), 2021, 5, 28, 'Friday', 0, 'Unknown')
(1332, datetime.date(2021, 5, 21), 2021, 5, 21, 'Friday', 0, 'Unknown')
(1333, datetime.date(2021, 5, 14), 2021, 5, 14, 'Friday', 0, 'Unknown')
(1334, datetime.date(2021, 5, 7), 2021, 5, 7, 'Friday', 0, 'Unknown')
(1335, datetime.date(2021, 4, 30), 2021, 4, 30, 'Friday', 0, 'Unknown')
(1336, datetime.date(2021, 4, 23), 2021, 4, 23, 'Friday', 0, 'Unknown')
(1337, datetime.date(2021, 4, 16), 2021, 4, 16, 'Friday', 0, 'Unknown')
(1338, datetime.date(2021, 4, 9), 2021, 4, 9, 'Friday', 0, 'Unknown')
(1339, datetime.date(2021, 4, 1), 2021, 4, 1, 'Thursday', 0, 'Unknown')
(1340, datetime.date(2021, 3, 26), 2021, 3, 26, 'Friday', 0, 'Unknown')
(1341, datetime.date(2021, 3, 19), 2021, 3, 19, 'Friday', 0, 'Unknown')
(1342, datetime.date(2021, 3, 12), 2021, 3, 12, 'Friday', 0, 'Unknown')
(1343, datetime.date(2021, 3, 5), 2021, 3, 5, 'Friday', 0, 'Unknown')
(1344, datetime.date(2021, 2, 26), 2021, 2, 26, 'Friday', 0, 'Unknown')
(1345, datetime.date(2021, 2, 19), 2021, 2, 19, 'Friday', 0, 'Unknown')
(1346, datetime.date(2021, 2, 12), 2021, 2, 12, 'Friday', 0, 'Unknown')
(1347, datetime.date(2021, 2, 5), 2021, 2, 5, 'Friday', 0, 'Unknown')
(1348, datetime.date(2021, 1, 29), 2021, 1, 29, 'Friday', 0, 'Unknown')
(1349, datetime.date(2021, 1, 22), 2021, 1, 22, 'Friday', 0, 'Unknown')
(1350, datetime.date(2021, 1, 15), 2021, 1, 15, 'Friday', 0, 'Unknown')
(1351, datetime.date(2021, 1, 8), 2021, 1, 8, 'Friday', 0, 'Unknown')
(1352, datetime.date(2020, 12, 31), 2020, 12, 31, 'Thursday', 0, 'Unknown')
(1353, datetime.date(2020, 12, 24), 2020, 12, 24, 'Thursday', 0, 'Unknown')
(1354, datetime.date(2020, 12, 18), 2020, 12, 18, 'Friday', 0, 'Unknown')
(1355, datetime.date(2020, 12, 11), 2020, 12, 11, 'Friday', 0, 'Unknown')
(1356, datetime.date(2020, 12, 4), 2020, 12, 4, 'Friday', 0, 'Unknown')
(1357, datetime.date(2020, 11, 27), 2020, 11, 27, 'Friday', 0, 'Unknown')
(1358, datetime.date(2020, 11, 20), 2020, 11, 20, 'Friday', 0, 'Unknown')
(1359, datetime.date(2020, 11, 13), 2020, 11, 13, 'Friday', 0, 'Unknown')
(1360, datetime.date(2020, 11, 6), 2020, 11, 6, 'Friday', 0, 'Unknown')
(1361, datetime.date(2020, 10, 30), 2020, 10, 30, 'Friday', 0, 'Unknown')
(1362, datetime.date(2020, 10, 23), 2020, 10, 23, 'Friday', 0, 'Unknown')
(1363, datetime.date(2020, 10, 16), 2020, 10, 16, 'Friday', 0, 'Unknown')
(1364, datetime.date(2020, 10, 9), 2020, 10, 9, 'Friday', 0, 'Unknown')
(1365, datetime.date(2020, 10, 2), 2020, 10, 2, 'Friday', 0, 'Unknown')
(1366, datetime.date(2020, 9, 25), 2020, 9, 25, 'Friday', 0, 'Unknown')
(1367, datetime.date(2020, 9, 18), 2020, 9, 18, 'Friday', 0, 'Unknown')
(1368, datetime.date(2020, 9, 11), 2020, 9, 11, 'Friday', 0, 'Unknown')
(1369, datetime.date(2020, 9, 4), 2020, 9, 4, 'Friday', 0, 'Unknown')
(1370, datetime.date(2020, 8, 28), 2020, 8, 28, 'Friday', 0, 'Unknown')
(1371, datetime.date(2020, 8, 21), 2020, 8, 21, 'Friday', 0, 'Unknown')
(1372, datetime.date(2020, 8, 14), 2020, 8, 14, 'Friday', 0, 'Unknown')
(1373, datetime.date(2020, 8, 7), 2020, 8, 7, 'Friday', 0, 'Unknown')
(1374, datetime.date(2020, 7, 31), 2020, 7, 31, 'Friday', 0, 'Unknown')
(1375, datetime.date(2020, 7, 24), 2020, 7, 24, 'Friday', 0, 'Unknown')
(1376, datetime.date(2020, 7, 17), 2020, 7, 17, 'Friday', 0, 'Unknown')
(1377, datetime.date(2020, 7, 10), 2020, 7, 10, 'Friday', 0, 'Unknown')
(1378, datetime.date(2020, 7, 2), 2020, 7, 2, 'Thursday', 0, 'Unknown')
(1379, datetime.date(2020, 6, 26), 2020, 6, 26, 'Friday', 0, 'Unknown')
(1380, datetime.date(2020, 6, 19), 2020, 6, 19, 'Friday', 0, 'Unknown')
(1381, datetime.date(2020, 6, 12), 2020, 6, 12, 'Friday', 0, 'Unknown')
(1382, datetime.date(2020, 6, 5), 2020, 6, 5, 'Friday', 0, 'Unknown')
(1383, datetime.date(2020, 5, 29), 2020, 5, 29, 'Friday', 0, 'Unknown')
(1384, datetime.date(2020, 5, 22), 2020, 5, 22, 'Friday', 0, 'Unknown')
(1385, datetime.date(2020, 5, 15), 2020, 5, 15, 'Friday', 0, 'Unknown')
(1386, datetime.date(2020, 5, 8), 2020, 5, 8, 'Friday', 0, 'Unknown')
(1387, datetime.date(2020, 5, 1), 2020, 5, 1, 'Friday', 0, 'Unknown')
(1388, datetime.date(2020, 4, 24), 2020, 4, 24, 'Friday', 0, 'Unknown')
(1389, datetime.date(2020, 4, 17), 2020, 4, 17, 'Friday', 0, 'Unknown')
(1390, datetime.date(2020, 4, 9), 2020, 4, 9, 'Thursday', 0, 'Unknown')
(1391, datetime.date(2020, 4, 3), 2020, 4, 3, 'Friday', 0, 'Unknown')
(1392, datetime.date(2020, 3, 27), 2020, 3, 27, 'Friday', 0, 'Unknown')
(1393, datetime.date(2020, 3, 20), 2020, 3, 20, 'Friday', 0, 'Unknown')
(1394, datetime.date(2020, 3, 13), 2020, 3, 13, 'Friday', 0, 'Unknown')
(1395, datetime.date(2020, 3, 6), 2020, 3, 6, 'Friday', 0, 'Unknown')
(1396, datetime.date(2020, 2, 28), 2020, 2, 28, 'Friday', 0, 'Unknown')
(1397, datetime.date(2020, 2, 21), 2020, 2, 21, 'Friday', 0, 'Unknown')
(1398, datetime.date(2020, 2, 14), 2020, 2, 14, 'Friday', 0, 'Unknown')
(1399, datetime.date(2020, 2, 7), 2020, 2, 7, 'Friday', 0, 'Unknown')
(1400, datetime.date(2020, 1, 31), 2020, 1, 31, 'Friday', 0, 'Unknown')
(1401, datetime.date(2020, 1, 24), 2020, 1, 24, 'Friday', 0, 'Unknown')
(1402, datetime.date(2020, 1, 17), 2020, 1, 17, 'Friday', 0, 'Unknown')
(1403, datetime.date(2020, 1, 10), 2020, 1, 10, 'Friday', 0, 'Unknown')
(1404, datetime.date(2020, 1, 3), 2020, 1, 3, 'Friday', 0, 'Unknown')
(1405, datetime.date(2019, 12, 27), 2019, 12, 27, 'Friday', 0, 'Unknown')
(1406, datetime.date(2019, 12, 20), 2019, 12, 20, 'Friday', 0, 'Unknown')
(1407, datetime.date(2019, 12, 13), 2019, 12, 13, 'Friday', 0, 'Unknown')
(1408, datetime.date(2019, 12, 6), 2019, 12, 6, 'Friday', 0, 'Unknown')
(1409, datetime.date(2019, 11, 29), 2019, 11, 29, 'Friday', 0, 'Unknown')
(1410, datetime.date(2019, 11, 22), 2019, 11, 22, 'Friday', 0, 'Unknown')
(1411, datetime.date(2019, 11, 15), 2019, 11, 15, 'Friday', 0, 'Unknown')
(1412, datetime.date(2019, 11, 8), 2019, 11, 8, 'Friday', 0, 'Unknown')
(1413, datetime.date(2019, 11, 1), 2019, 11, 1, 'Friday', 0, 'Unknown')
(1414, datetime.date(2019, 10, 25), 2019, 10, 25, 'Friday', 0, 'Unknown')
(1415, datetime.date(2019, 10, 18), 2019, 10, 18, 'Friday', 0, 'Unknown')
(1416, datetime.date(2019, 10, 11), 2019, 10, 11, 'Friday', 0, 'Unknown')
(1417, datetime.date(2019, 10, 4), 2019, 10, 4, 'Friday', 0, 'Unknown')
(1418, datetime.date(2019, 9, 27), 2019, 9, 27, 'Friday', 0, 'Unknown')
(1419, datetime.date(2019, 9, 20), 2019, 9, 20, 'Friday', 0, 'Unknown')
(1420, datetime.date(2019, 9, 13), 2019, 9, 13, 'Friday', 0, 'Unknown')
(1421, datetime.date(2019, 9, 6), 2019, 9, 6, 'Friday', 0, 'Unknown')
(1422, datetime.date(2019, 8, 30), 2019, 8, 30, 'Friday', 0, 'Unknown')
(1423, datetime.date(2019, 8, 23), 2019, 8, 23, 'Friday', 0, 'Unknown')
(1424, datetime.date(2019, 8, 16), 2019, 8, 16, 'Friday', 0, 'Unknown')
(1425, datetime.date(2019, 8, 9), 2019, 8, 9, 'Friday', 0, 'Unknown')
(1426, datetime.date(2019, 8, 2), 2019, 8, 2, 'Friday', 0, 'Unknown')
(1427, datetime.date(2019, 7, 26), 2019, 7, 26, 'Friday', 0, 'Unknown')
(1428, datetime.date(2019, 7, 19), 2019, 7, 19, 'Friday', 0, 'Unknown')
(1429, datetime.date(2019, 7, 12), 2019, 7, 12, 'Friday', 0, 'Unknown')
(1430, datetime.date(2019, 7, 5), 2019, 7, 5, 'Friday', 0, 'Unknown')
(1431, datetime.date(2019, 6, 28), 2019, 6, 28, 'Friday', 0, 'Unknown')
(1432, datetime.date(2019, 6, 21), 2019, 6, 21, 'Friday', 0, 'Unknown')
(1433, datetime.date(2019, 6, 14), 2019, 6, 14, 'Friday', 0, 'Unknown')
(1434, datetime.date(2019, 6, 7), 2019, 6, 7, 'Friday', 0, 'Unknown')
(1435, datetime.date(2019, 5, 31), 2019, 5, 31, 'Friday', 0, 'Unknown')
(1436, datetime.date(2019, 5, 24), 2019, 5, 24, 'Friday', 0, 'Unknown')
(1437, datetime.date(2019, 5, 17), 2019, 5, 17, 'Friday', 0, 'Unknown')
(1438, datetime.date(2019, 5, 10), 2019, 5, 10, 'Friday', 0, 'Unknown')
(1439, datetime.date(2019, 5, 3), 2019, 5, 3, 'Friday', 0, 'Unknown')
(1440, datetime.date(2019, 4, 26), 2019, 4, 26, 'Friday', 0, 'Unknown')
(1441, datetime.date(2019, 4, 18), 2019, 4, 18, 'Thursday', 0, 'Unknown')
(1442, datetime.date(2019, 4, 12), 2019, 4, 12, 'Friday', 0, 'Unknown')
(1443, datetime.date(2019, 4, 5), 2019, 4, 5, 'Friday', 0, 'Unknown')
(1444, datetime.date(2019, 3, 29), 2019, 3, 29, 'Friday', 0, 'Unknown')
(1445, datetime.date(2019, 3, 22), 2019, 3, 22, 'Friday', 0, 'Unknown')
(1446, datetime.date(2019, 3, 15), 2019, 3, 15, 'Friday', 0, 'Unknown')
(1447, datetime.date(2019, 3, 8), 2019, 3, 8, 'Friday', 0, 'Unknown')
(1448, datetime.date(2019, 3, 1), 2019, 3, 1, 'Friday', 0, 'Unknown')
(1449, datetime.date(2019, 2, 22), 2019, 2, 22, 'Friday', 0, 'Unknown')
(1450, datetime.date(2019, 2, 15), 2019, 2, 15, 'Friday', 0, 'Unknown')
(1451, datetime.date(2019, 2, 8), 2019, 2, 8, 'Friday', 0, 'Unknown')
(1452, datetime.date(2019, 2, 1), 2019, 2, 1, 'Friday', 0, 'Unknown')
(1453, datetime.date(2019, 1, 25), 2019, 1, 25, 'Friday', 0, 'Unknown')
(1454, datetime.date(2019, 1, 18), 2019, 1, 18, 'Friday', 0, 'Unknown')
(1455, datetime.date(2019, 1, 11), 2019, 1, 11, 'Friday', 0, 'Unknown')
(1456, datetime.date(2019, 1, 4), 2019, 1, 4, 'Friday', 0, 'Unknown')
(1457, datetime.date(2018, 12, 28), 2018, 12, 28, 'Friday', 0, 'Unknown')
(1458, datetime.date(2018, 12, 21), 2018, 12, 21, 'Friday', 0, 'Unknown')
(1459, datetime.date(2018, 12, 14), 2018, 12, 14, 'Friday', 0, 'Unknown')
(1460, datetime.date(2018, 12, 7), 2018, 12, 7, 'Friday', 0, 'Unknown')
(1461, datetime.date(2018, 11, 30), 2018, 11, 30, 'Friday', 0, 'Unknown')
(1462, datetime.date(2018, 11, 23), 2018, 11, 23, 'Friday', 0, 'Unknown')
(1463, datetime.date(2018, 11, 16), 2018, 11, 16, 'Friday', 0, 'Unknown')
(1464, datetime.date(2018, 11, 9), 2018, 11, 9, 'Friday', 0, 'Unknown')
(1465, datetime.date(2018, 11, 2), 2018, 11, 2, 'Friday', 0, 'Unknown')
(1466, datetime.date(2018, 10, 26), 2018, 10, 26, 'Friday', 0, 'Unknown')
(1467, datetime.date(2018, 10, 19), 2018, 10, 19, 'Friday', 0, 'Unknown')
(1468, datetime.date(2018, 10, 12), 2018, 10, 12, 'Friday', 0, 'Unknown')
(1469, datetime.date(2018, 10, 5), 2018, 10, 5, 'Friday', 0, 'Unknown')
(1470, datetime.date(2018, 9, 28), 2018, 9, 28, 'Friday', 0, 'Unknown')
(1471, datetime.date(2018, 9, 21), 2018, 9, 21, 'Friday', 0, 'Unknown')
(1472, datetime.date(2018, 9, 14), 2018, 9, 14, 'Friday', 0, 'Unknown')
(1473, datetime.date(2018, 9, 7), 2018, 9, 7, 'Friday', 0, 'Unknown')
(1474, datetime.date(2018, 8, 31), 2018, 8, 31, 'Friday', 0, 'Unknown')
(1475, datetime.date(2018, 8, 24), 2018, 8, 24, 'Friday', 0, 'Unknown')
(1476, datetime.date(2018, 8, 17), 2018, 8, 17, 'Friday', 0, 'Unknown')
(1477, datetime.date(2018, 8, 10), 2018, 8, 10, 'Friday', 0, 'Unknown')
(1478, datetime.date(2018, 8, 3), 2018, 8, 3, 'Friday', 0, 'Unknown')
(1479, datetime.date(2018, 7, 27), 2018, 7, 27, 'Friday', 0, 'Unknown')
(1480, datetime.date(2018, 7, 20), 2018, 7, 20, 'Friday', 0, 'Unknown')
(1481, datetime.date(2018, 7, 13), 2018, 7, 13, 'Friday', 0, 'Unknown')
(1482, datetime.date(2018, 7, 6), 2018, 7, 6, 'Friday', 0, 'Unknown')
(1483, datetime.date(2018, 6, 29), 2018, 6, 29, 'Friday', 0, 'Unknown')
(1484, datetime.date(2018, 6, 22), 2018, 6, 22, 'Friday', 0, 'Unknown')
(1485, datetime.date(2018, 6, 15), 2018, 6, 15, 'Friday', 0, 'Unknown')
(1486, datetime.date(2018, 6, 8), 2018, 6, 8, 'Friday', 0, 'Unknown')
(1487, datetime.date(2018, 6, 1), 2018, 6, 1, 'Friday', 0, 'Unknown')
(1488, datetime.date(2018, 5, 25), 2018, 5, 25, 'Friday', 0, 'Unknown')
(1489, datetime.date(2018, 5, 18), 2018, 5, 18, 'Friday', 0, 'Unknown')
(1490, datetime.date(2018, 5, 11), 2018, 5, 11, 'Friday', 0, 'Unknown')
(1491, datetime.date(2018, 5, 4), 2018, 5, 4, 'Friday', 0, 'Unknown')
(1492, datetime.date(2018, 4, 27), 2018, 4, 27, 'Friday', 0, 'Unknown')
(1493, datetime.date(2018, 4, 20), 2018, 4, 20, 'Friday', 0, 'Unknown')
(1494, datetime.date(2018, 4, 13), 2018, 4, 13, 'Friday', 0, 'Unknown')
(1495, datetime.date(2018, 4, 6), 2018, 4, 6, 'Friday', 0, 'Unknown')
(1496, datetime.date(2018, 3, 29), 2018, 3, 29, 'Thursday', 0, 'Unknown')
(1497, datetime.date(2018, 3, 23), 2018, 3, 23, 'Friday', 0, 'Unknown')
(1498, datetime.date(2018, 3, 16), 2018, 3, 16, 'Friday', 0, 'Unknown')
(1499, datetime.date(2018, 3, 9), 2018, 3, 9, 'Friday', 0, 'Unknown')
(1500, datetime.date(2018, 3, 2), 2018, 3, 2, 'Friday', 0, 'Unknown')
(1501, datetime.date(2018, 2, 23), 2018, 2, 23, 'Friday', 0, 'Unknown')
(1502, datetime.date(2018, 2, 16), 2018, 2, 16, 'Friday', 0, 'Unknown')
(1503, datetime.date(2018, 2, 9), 2018, 2, 9, 'Friday', 0, 'Unknown')
(1504, datetime.date(2018, 2, 2), 2018, 2, 2, 'Friday', 0, 'Unknown')
(1505, datetime.date(2018, 1, 26), 2018, 1, 26, 'Friday', 0, 'Unknown')